page-paypal {
    .bg {
        background: #ECEFF1;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .seccion {
        margin-top: 10%; 
    }
}
