<ion-header>

  <ion-navbar>
    <ion-title>PayPal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <form name="paymentForm">
		<ion-item>
			<ion-label floating>Monto</ion-label>
			<ion-input type="text" name="amount" [(ngModel)]="payment.amount"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Asunto</ion-label>
			<ion-input type="text" name="intent" [(ngModel)]="payment.intent"></ion-input>
		</ion-item>
		<p>
			<button ion-button block color="secondary" (click)="makePayment()">REALIZAR PAGO</button>
		</p>
  </form>
</ion-content>
