page-ajustes {
    .bg {
        background: #ECEFF1;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .seccion2 {
        // background: #ffffff;
        // border-top: 1px solid #989898;
        // border-bottom: 1px solid #989898;
        margin-top: 15%; 
    }

    .seccion {
        // background: #ffffff;
        // border-top: 1px solid #989898;
        // border-bottom: 1px solid #989898;
        margin-top: 10%; 
    }

    .icono {
        min-width: 28px !important;
        min-height: 28px !important;

        img {
            border-radius: 0 !important;
            width: 28px;
            height: 28px;
        }
    }
}
