<ion-header>

  <ion-navbar>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg">
	<!--<ion-list>
		<ion-item detail-push (click)="goToEditarCuentaPage()">
		    <ion-avatar item-start>
		      <img src="http://www.izzabell.com/fotos/{{usuario.picture}}">
		    </ion-avatar>
		    <h2>{{usuario.nombre}}</h2>
		    <h3>{{usuario.telefono}}</h3>
		    <p>{{usuario.email}}</p>
	  	</ion-item>
	</ion-list>-->

  <!-- Seccion Personal -->
	<ion-list class="seccion2">
		<button ion-item detail-push (click)="goToCuentaPage()">
		    <ion-avatar class="icono" item-start>
		      <img src="assets/images/iconos/mi-cuenta.svg">
		    </ion-avatar>
		    Mi cuenta
    </button>

    <button ion-item detail-push (click)="goToSolicitudesTab()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/solicitudes.svg">
      </ion-avatar>
      Solicitudes
    </button>

    <button ion-item detail-push (click)="goToComoFuncionaPage()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      ¿Cómo funciona?
		</button>
		
		<button ion-item detail-push (click)="goToServiciosPage()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      Servicios
		</button>
		
		<button ion-item detail-push (click)="goToPagoServiciosPage()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      Pagos
    </button>

    <button ion-item detail-push (click)="goToLoQueQuieras()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      Lo que quieras
    </button>

    <button ion-item detail-push (click)="goToCajero()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      Cajero
    </button>

    <button ion-item detail-push (click)="goToAsistencia()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/como-funciona.svg">
      </ion-avatar>
      Asistencia
    </button>
	</ion-list>


  <!-- Sección Monetaria -->
	<ion-list class="seccion">
		<button ion-item detail-push (click)="goToPlanesPage()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/planes.svg">
      </ion-avatar>
      Planes
    </button>
    <button ion-item detail-push (click)="goToPagosPage()">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/pagos.svg">
      </ion-avatar>
      Pagos
    </button>
	</ion-list>

  <!-- Sección Adicionales -->
	<ion-list class="seccion">
		<button ion-item detail-push (click)="goToAfiliadosPage()">
		  <ion-avatar class="icono" class="icono" item-start>
		    <img src="assets/images/iconos/afiliate.svg">
		  </ion-avatar>
		  Afiliate
	  </button>
		<button ion-item detail-push (click)="goToAyudaPage()">
		  <ion-avatar class="icono" item-start>
		    <img src="assets/images/iconos/ayuda.svg">
		  </ion-avatar>
		  Ayuda
	  </button>
	</ion-list>

</ion-content>
