<ion-header>
  <!-- Cabecera -->
    <header>
      <button id="back_btn" (click)="clickBack();"><ion-icon name="md-arrow-back"></ion-icon></button>
      <h1 id="titulo_pagina">Métodos de Pago</h1>
    </header>
</ion-header>
<ion-content class="ion-content" no-bounce>
  <!-- Contenido -->
  <div id="contenido">
    <!-- Indicaciones -->
    <p class="label">Seleccione un método de pago</p>
    <!-- Lista -->
    <div class="metodos">
      <!-- Método -->
      <button class="metodo_item" *ngFor="let metodo of metodos_pago; let i = index;" (click)="selMetodo(i);">
        <img src="assets/images/credit-card.svg" class="icono_izquierda" *ngIf="metodo.tipo == 0">
        <img src="assets/images/bank.svg" class="icono_izquierda" *ngIf="metodo.tipo == 1">
        <div class="info">
          <p class="titulo">{{metodo.marca}}</p>
          <p class="metodo">**** **** **** {{metodo.ultimos}}</p>
        </div>
        <img src="assets/images/checkmark.svg" class="icono_derecha" *ngIf="metodo_seleccionado == i">
      </button>
    </div>

  </div>
  <!-- Boton aqui estoy -->
  <button id="seguir" (click)="setMetodo();">SELECCIONAR</button>

</ion-content>
