//Mixins
@import "../../assets/mixins";

page-mensajeria-pago {
  header {
    z-index: 2;
    clear: both;
    padding: 4px;
    padding-top: calc(24px);
    min-height: calc(44px + 20px);
    display: block;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #back_btn {
      display: block;
      color: #fff;
      padding: 0px 4px 0px 4px;
      border-radius: 4px;
      height: 32px;
      border: 0;
      font-size: 1.7rem;
      background: transparent !important;
    }
    #titulo_pagina {
      display: block;
      margin: 0px;
      margin-top: 3%;
      margin-bottom: 6%;
      padding: 4px;
      @include font("Titillium Web", 1.7em, 400, #fff);
    }
  }
  .ion-content {
    @include flexbox();
    @include flex-flow(column nowrap);
  }
  #contenido {
    @include flex(1);
    width: 100%;
    height: 88%;
    z-index: 2;
    .label {
      display: block;
      width: 100%;
      height: auto;
      padding: 16px 8px 8px 16px;
      margin: 0px;
    }
    .metodos {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      background: yellow;
      .metodo_item {
        @include flexbox();
        @include flex-flow(row nowrap);
        text-align: left;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 3% 16px;
        background: #fff;
        align-items: center;
        border-top: 0px;
        border-bottom: 1px solid #F3F3F3;
        &:nth-child(1) {
          border-top: 1px solid #F3F3F3;
        }
        &:active {
          background: #F6F6F6;
        }
        &.new {
          padding: 5% 16px;
          .container {
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
            @include font("Titillium Web", 1.2em, 400, #585858);
          }
        }
        .icono_izquierda {
          display: block;
          @include flex(1);
          max-width: 44px;
          max-height: 40px;
          margin: 0px;
          padding: 0px;
          color: red;
        }
        .info {
          @include flex(1);
          margin: 0px 8px 0px 8px;
          padding: 0px;
          overflow: hidden;
          white-space: nowrap;
          p {
            display: block;
            margin: 0px;
            width: 100%;
            height: auto;
            text-align: left;
            &.titulo { 
              @include font("Titillium Web", 1.2em, 400, #212121);
              padding-bottom: 3%;
            }
            &.metodo {
              @include font("Titillium Web", 1.5em, 400, #212121);
            }
          }
        }
        .icono_derecha {
          display: block;
          @include flex(1);
          max-width: 24px;
          max-height: 17px;
          margin: 0px;
          padding: 0px;
          align-self: center;
        }
      }
    }
  }
  #seguir {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: auto;
    max-height: min-content;
    margin: 0px;
    padding: 5% 5%;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    @include font("Titillium Web", 1.6em, 600, #fff);
  }
}
