<ion-header>

  <ion-navbar>
    <ion-title>Ayuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <ion-list class="seccion">
    <ion-item detail-push (click)="abrirTerminos();">
			Términos y condiciones
		</ion-item>
		<ion-item detail-push (click)="abrirPoliticas()">
			Políticas y privacidad
		</ion-item>
		<ion-item detail-push (click)="correo();">
			Enviar dudas acerca de izzabell
		</ion-item>
  </ion-list>

  <p class="texto" padding>Si necesitas asistencia detallada o tienes dudas acerca de izzabell, escríbenos tu inquietud o comunicate con nosotros directamente utilizando las opciones de chat o llamada dentro de la aplicación.</p>
</ion-content>
