<ion-header>
  <!-- Cabecera -->
    <header>
      <button id="back_btn" (click)="clickBack();"><ion-icon name="md-arrow-back"></ion-icon></button>
      <h1 id="titulo_pagina">Revise la información</h1>
    </header>
</ion-header>
<ion-content class="ion-content" no-bounce>
  <!-- Contenido -->
  <div id="contenido">

    <div class="list_info">
      <!-- Ubicación -->
      <button class="informacion">
        <p class="label">Ubicación</p>
        <p class="info">{{solicitud.ubicacion.direccion}}</p>
      </button>

      <!-- Indicaciones -->
      <button class="informacion">
        <p class="label">Indicaciones</p>
        <p class="info">{{solicitud.texto}}</p>
      </button>

      <!-- Método de pago -->
      <button class="informacion">
        <p class="label">Método de pago</p>
        <div class="flex_info">
          <img src="assets/images/credit-card.svg" class="icono_izquierda" *ngIf="solicitud.metodo_pago.tipo == 0">
          <img src="assets/images/bank.svg" class="icono_izquierda" *ngIf="solicitud.metodo_pago.tipo == 1">
          <div class="info">
            <p class="titulo">{{solicitud.metodo_pago.marca}}</p>
            <p class="metodo">**** **** **** {{solicitud.metodo_pago.ultimos}}</p>
          </div>
        </div>
      </button>

      <!-- Total -->
      <button class="informacion">
        <p class="label">Total</p>
        <p class="info money">$ {{total}}</p>
      </button>

    </div>
    
  </div>

  <!-- Boton aqui estoy -->
  <button id="seguir" (click)="pagar();">PAGAR</button>

</ion-content>
