page-mensajeria-revisar {
  header {
    z-index: 2;
    clear: both;
    padding: 4px;
    padding-top: calc(24px);
    min-height: calc(44px + 20px);
    display: block;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #back_btn {
      display: block;
      color: #fff;
      padding: 0px 4px 0px 4px;
      border-radius: 4px;
      height: 32px;
      border: 0;
      font-size: 1.7rem;
      background: transparent !important;
    }
    #titulo_pagina {
      display: block;
      margin: 0px;
      margin-top: 3%;
      margin-bottom: 6%;
      padding: 4px;
      @include font("Titillium Web", 1.7em, 400, #fff);
    }
  }
  .ion-content {
    @include flexbox();
    @include flex-flow(column nowrap);
  }
  #contenido {
    @include flex(1);
    width: 100%;
    height: 88%;
    z-index: 2;
    .list_info {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      .informacion {
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 16px 8px 8px 16px;
        text-align: left;
        background: #fff;
        .label {
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 0px;
          padding-bottom: 3%;
          @include font("Titillium Web", 1.2em, 400, #212121);
        }
        .info {
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 0px;
          @include font("Titillium Web", 1.6em, 400, #212121);
          &.money {
            @include font("Titillium Web", 3.8em, 400, #828282);
          }
        }
        .flex_info {
          @include flexbox();
          @include flex-flow(row nowrap);
          text-align: left;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 3% 0px;
          background: #fff;
          align-items: center;
          border: 0px;
          .icono_izquierda {
            display: block;
            @include flex(1);
            max-width: 44px;
            max-height: 40px;
            margin: 0px;
            padding: 0px;
            color: red;
          }
          .info {
            @include flex(1);
            margin: 0px 8px 0px 8px;
            padding: 0px;
            overflow: hidden;
            white-space: nowrap;
            p {
              display: block;
              margin: 0px;
              width: 100%;
              height: auto;
              text-align: left;
              &.titulo { 
                @include font("Titillium Web", 1.2em, 400, #212121);
                padding-bottom: 3%;
              }
              &.ubicacion {
                @include font("Titillium Web", 1.5em, 400, #212121);
              }
            }
          }
          .icono_derecha {
            display: block;
            @include flex(1);
            max-width: 24px;
            max-height: 17px;
            margin: 0px;
            padding: 0px;
            align-self: center;
          }
        }
      }
    }
  }
  #seguir {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: auto;
    max-height: min-content;
    margin: 0px;
    padding: 5% 5%;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    @include font("Titillium Web", 1.6em, 600, #fff);
  }
}
