<ion-header>

  <ion-navbar>
	<ion-title>Pagos</ion-title>
	<ion-buttons start *ngIf="tipoVista == 1">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
	<ion-list class="seccion">
		<ion-list-header>
	    	Método de pago
	  	</ion-list-header>

		<div style="margin: 0 auto; text-align: center;" *ngIf="!tarjetas">
			<ion-spinner name="crescent"></ion-spinner>
		</div>

		<ion-list radio-group [(ngModel)]="tarjetaSelected">
			<button detail-none ion-item *ngFor="let tarjeta of tarjetas">
				<ion-thumbnail item-start>
					<img src="assets/images/iconos/pagos-mastercard.svg">
				</ion-thumbnail>
				<ion-label>
					Mastercard
					<p>.... {{tarjeta.ultimos}}</p>
				</ion-label>
				
				<ion-radio [value]="tarjeta.id" (ionSelect)="seleccionado();"></ion-radio>
			</button>
		</ion-list>
			<!--<ion-item *ngIf="!tarjetas">
	    	No has agregado un metodo de pago
	  	</ion-item>-->

		<button ion-item class="seccion" detail-push (click)="goToAddTarjetaPage()">
			<ion-avatar item-start>
				<img src="assets/images/iconos/pagos.svg">
			</ion-avatar>
			<ion-label>
				Agregar método de pago
			</ion-label>
		</button>
	</ion-list>
</ion-content>
