<ion-content>
  <ion-slides pager="{{ultima}}" (ionSlideWillChange)="slideChanged()" (ionSlideDrag)="slideMoved()">

    <ion-slide style="background-color: white; color: #4BB7D1; font-weight: lighter;">
      <div class="diag">
        <img src="assets/images/logo.png" style="margin-top: 150px; width: 30%;">
      </div>
      <div [@bounce]='state' style="margin-top: 50%;">
        <p class="slide1-p" style="font-size: 1.5em; font-weight: lighter;">Bienvenido a Izzabell,<br> tu asistente personal.</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #65CAE3; color: white; font-weight: lighter;">
      <div class="slide2">
        <!--<img src="assets/images/splash2-wide.png">-->
      </div>
      <div [@bounce]='state' style="position: absolute; top: 60%; height: 40%;" padding>
        <h1 style="font-size: 1.5em; font-weight: lighter;">Para todo <br>lo que necesitas</h1>
        <p style="padding-left: 20px; padding-right: 20px;">Te solucionamos de inmediato sin importar la dificultad. Somos todas tus soluciones al instante 24/7.</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: white; color: #4BB7D1;">
      <div class="slide3">
        <!--<img src="assets/images/splash3-wide.png">-->
      </div>
      <div [@bounce]='state' style="position: absolute; top: 70%; height: 30%;" padding>
        <p>Escribe lo que necesitas en la pantalla inicial. Todos los servicios disponibles al alcance de tu mano.</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #65CAE3; color: white; padding: 0; font-weight: lighter;">
      <div class="slide4">
        <!--<img src="assets/images/splash4-wide.png">-->
      </div>
      <div [@bounce]='state' style="position: absolute; top: 65%; height: 25%;" padding>
        <h2 style="font-size: 1.5em; font-weight: lighter;">Envía tu solicitud</h2>
        <p>También puedes escribirnos o llamarnos. Te atenderemos al instante.</p>
      </div>
    </ion-slide>

    <ion-slide style="background-color: #FFFFFF; color: #4BB7D1">
      <div class="slide5">
        <!--<img src="assets/images/splash5-wide.png">-->
      </div>
      <div [@bounce]='state' style="position: absolute; padding-top: 25px; top: 50%; height: 50%;" padding>
        <h2 style="font-size: 1.5em; font-weight: lighter;">Disfruta tu tiempo</h2>
        <p >Haz lo que más te gusta. Deja que izzabell encuentre todas tus soluciones. Nosotros te vamos a contactar con una solución.</p>
        <div style="width: 60%; margin: 0 auto;">
          <button color="izzabellClaro" ion-button block (click)="irALogin()">Comenzar</button>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

  <button *ngIf="ultima" [ngStyle]="{ 'color' : color }" (click)="skip()" id="skip">Saltar</button>
  <button *ngIf="ultima" [ngStyle]="{ 'color' : color }" clear id="next" (click)="next()">Siguiente <span style="font-weight: bold;">></span></button>

</ion-content>
