page-inicio-slides {
    
    .slide2 {
        position:absolute;
        z-index:1;
        width:100%;
        top: 0;
        height: 60%;
        background-image: url("../assets/images/splash2-wide.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .slide3 {
        position:absolute;
        z-index:1;
        width:100%;
        top: 0;
        height: 70%;
        background-image: url("../assets/images/splash3-wide.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .slide4 {
        position:absolute;
        z-index:1;
        width:100%;
        top: 0;
        height: 65%;
        background-image: url("../assets/images/splash4-wide.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    
    .slide5 {
        position:absolute;
        z-index:1;
        width:100%;
        top: 0;
        height: 50%;
        background-image: url("../assets/images/splash5-wide.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    .diag {
        position:absolute;
        z-index:1;
        width:100%;
        top: 0;
        height: 50%;
    }

    ion-icon {
        margin-top:40%;
        font-size:7em;
    }

    // .swiper-pagination-bullet-active {
    //     background:#65CAE3;
    // }

    .swiper-pagination {
        bottom: 20px !important;
    }

    #skip {
        position:absolute;
        bottom: 20px;
        left: 20px;
        background: none !important;
        cursor: pointer;
        z-index: 5;
    }

    #next {
        position:absolute;
        bottom: 20px;
        right: 20px;
        background: none !important;
        cursor: pointer;
        z-index: 5;
    }

    // .toolbar-background {
    //     background: transparent;
    //     border-color: transparent;
    // }

    // .button {
    //     background-color: #4BB7D1;
    // }
}
