<ion-content padding style="text-align: center;">

  <div style="margin-top: 50px;">
    <img style="width: 30%; height: auto" src="assets/images/logo.png">
  </div>
  <br><br><br><br>
  <div no-padding>
    <ion-list no-lines>
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col><img height="32px" src="assets/images/iconos/panama.png"></ion-col>
              <ion-col><label>+507</label></ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-label>
        <ion-input (click)="openModal()" disabled="true" type="tel" placeholder="Su teléfono" style="border-bottom: 2px solid #4BB7D1"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  <div>
    <p>
      <ion-grid>
        <ion-row>
          <ion-col><hr></ion-col>
          <ion-col col-auto><label style="color: #ccc;">o</label></ion-col>
          <ion-col><hr></ion-col>
        </ion-row>
      </ion-grid>
    </p>
    <button ion-button block icon-left no-padding color="facebook" (click)="doFbLogin();">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-auto style="border-right: 1px solid #6279AC;"><img height="28px" src="assets/images/iconos/facebook.svg"></ion-col>
          <ion-col><label>Ingresa con Facebook</label></ion-col>
        </ion-row>
      </ion-grid>
    </button>

    <button ion-button block icon-left no-padding color="blanco" style="border: 2px solid #EBEBEB; margin-top: 14px;" (click)="loginGoogle();">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-auto style="border-right: 1px solid #DFDFDF;"><img height="28px" src="assets/images/iconos/google.svg"></ion-col>
          <ion-col><label>Ingresa con Google</label></ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>
  
  <!--<ion-footer (click)="openModal2()">
    <ion-toolbar>
      <ion-title>O ingresa con redes sociales -></ion-title>
    </ion-toolbar>
  </ion-footer>-->
  
</ion-content>
