//Mixins
@import "../../assets/mixins";
@import "../../custom_elems/select_view/select_view";

page-login-registro {
  text-align: center;
  .toolbar-background {
    background: transparent;
    border-color: transparent !important;
    color: #4BB7D1 !important;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #4BB7D1 !important;
  }

  .toolbar-background-ios {
    background: transparent;
    border-color: transparent !important;
    color: #4BB7D1 !important;
  }
  .logo {
    margin: 12% auto 0px auto;
    padding: auto;
    width: auto;
    height: 0%;
    opacity: 0;
    text-align: center;
  }
  .label_text {
    display: block;
    margin: 7% 0px 0px 0px;
    padding: 0% 3%;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #212121;
    text-align: left;
  }
  .input {
    @include flexbox();
    @include flex-flow(row nowrap);
    margin: 2.5% 0px 0px 0px;
    padding: 0% 3%;
    text-align: left;
    .sel_pais {
      @include flex(1);
      max-width: 30%;
      background: #fff;
      .select_pais {
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: #212121;
        img {
          width: 22%;
          height: auto;
          vertical-align: middle;
        }
        span {
          padding: 3%;
          vertical-align: middle;
        }
        ion-icon {
          color: rgb(135,135,135);
          vertical-align: middle;
        }
      }
    }
    .input_tel {
      @include flex(1);
      max-width: 100%;
      border-bottom: 2px solid #4BB7D1;
      input {
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        color: #212121;
        border: 0px solid #fff;
      }
    }
    &::placeholder {
      font-family: "Titillium Web", sans-serif;
    }
  }
  .social_btns {
    margin: 12% 0px 0px 0px;
    padding: 0% 3%;
    height: 0%;
    opacity: 0;
  }
  .btn_enviar_cont {
    display: block;
    margin-top: 5%;
    .btn_enviar {
      background: #4BB7D1;
      &:active {
        background-color: rgba(0,0,0,0);
      }
    }
  }
}
