<ion-tabs selectedIndex="2">
  <ion-tab [root]="tab1Root" [rootParams]="solicitud" tabTitle="Solicitudes" tabIcon="solicitudes"></ion-tab>
  <ion-tab (ionSelect)="sms()" tabTitle="Mensaje" tabIcon="mensaje"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="solicitud" tabTitle="Inicio" tabIcon="inicio"></ion-tab>
  <ion-tab (ionSelect)="callIT('tel:+50764272200')" tabTitle="Llamar" tabIcon="llamar"></ion-tab>
  <ion-tab [root]="tab3Root" [rootParams]="solicitud" tabTitle="Ajustes" tabIcon="ajustes"></ion-tab>
</ion-tabs>
