<ion-header>

  <ion-navbar>  
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <p style="text-align: center; font-size: 22px; color: #4BB7D1; margin-top: 4.36%; padding: 0 40px; font-weight: lighter; white-space: pre-line;">¿En qué te podemos ayudar?</p>

  <!-- <form #registerForm="ngForm">
		<ion-grid no-padding [ngClass]="{tecladoActivo: abierto}" style="margin-top: 16%;">
			<ion-row align-items-center>
			
				<ion-col class="buscar">
						<ion-grid no-padding>
							<ion-row align-items-center>
								<ion-col col-auto>
									<button style="color: #B0BEC5;" *ngIf="lastImage === null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="sin-adjunto"></ion-icon>
									</button>
									<button color="izzabellClaro" color="izzabellClaro" *ngIf="lastImage !== null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="con-adjunto"></ion-icon>
									</button>
								</ion-col>
								<ion-col>
									<ion-input class="buscar2" name="search" [placeholder]="placeholderText" (focus)="cambiarEstado();" [(ngModel)]="query" required></ion-input>
								</ion-col>
							</ion-row>
						</ion-grid>
				</ion-col>
			</ion-row>
		</ion-grid>
  </form> -->
  <form #registerForm="ngForm">
  <ion-list>
    <ion-grid no-padding>
      <ion-row align-items-end>
        <ion-col>
          <ion-item>
            <ion-label floating>¿Qué necesitas?</ion-label>
            <ion-input type="text" name="solicitud" [(ngModel)]="solicitud" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-auto>
          <button style="color: #B0BEC5; border-color: #B0BEC5" *ngIf="lastImage === null" outline ion-button icon-only (click)="presentActionSheet()">
						<ion-icon name="ios-camera-outline"></ion-icon>
          </button>
            <button color="izzabellClaro" color="izzabellClaro" *ngIf="lastImage !== null" clear ion-button icon-only (click)="presentActionSheet()">
              <img src="{{pathForImage(lastImage)}}" style="width: 45px; height: 45px;">
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item>
      <!-- <ion-label>¿A donde lo llevamos?</ion-label>
      <ion-select [(ngModel)]="direccionActual" interface="popover" (ionChange)="cambio($event)">
        <ion-option *ngFor="let direccion of direcciones" [value]="direccion">{{direccion.direccion}}</ion-option>
        <ion-option value="0">Agregar nueva dirección</ion-option>
      </ion-select> -->
      <ion-input (click)="direccion1()" disabled="true" type="text" [(ngModel)]="origen.formatted_address" placeholder="¿A donde lo llevamos?" name="origen" required></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-label floating>¿Donde lo conseguimos?</ion-label>
      <ion-input type="text" (click)="direccion();" disabled="true"></ion-input> -->
      <ion-input (click)="direccion2()" disabled="true" type="text" [(ngModel)]="destino.formatted_address" placeholder="¿Donde lo conseguimos?" name="destino" required></ion-input>
    </ion-item>
    
  </ion-list>

  <button ion-button block color="izzabellClaro" [disabled]="none()" (click)="continuar()">Continuar</button>
  </form>
</ion-content>
