<ion-header>

  <ion-navbar>
    <ion-searchbar mode="md" color="primary" autofocus (ionChange)="getItems($event.value)" placeholder="Buscar servicios">
    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <button ion-item detail-none (click)="cargarServicio(item)" *ngFor="let item of items">
      <ion-icon name="{{item.icono}}" color="primary" item-start></ion-icon>
      {{item.nombre}}
    </button>
  </ion-list>

</ion-content>
