
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="registrar()" #registerForm="ngForm">
    <ion-list no-lines>

      <ion-label stacked>Ingrese su nombre</ion-label>
      <ion-item no-padding>
        <ion-input #input2 type="text" placeholder="Nombre y apellido" name="nombre" [(ngModel)]="registerCredentials.nombre" style="border-bottom: 2px solid #4BB7D1" autofocus required></ion-input>
      </ion-item>

    </ion-list>

    <ion-fab right bottom>
      <button ion-fab type="submit" [disabled]="!registerForm.form.valid">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-fab>
  </form>
</ion-content>
