//Mixins
@import "../../assets/mixins";

page-verificar-numero {
  .toolbar-background {
    background: transparent;
    border-color: transparent !important;
    color: #4BB7D1 !important;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #4BB7D1 !important;
  }

  .toolbar-background-ios {
    background: transparent;
    border-color: transparent !important;
    color: #4BB7D1 !important;
  }
  p {
    display: block;
    margin: 20% 0px 0px 0px;
    padding: 0% 5%;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #212121;
  }
  .codigo_cont {
    @include flexbox();
    @include flex-flow(row nowrap);
    align-items: center;
    margin: 10% 0px 0px 0px;
    padding: 0% 3%;
    text-align: center;
    .numero {
      @include flex(1);
      width: 94%;
      height: auto;
      margin: 0% 3%;
      border-bottom: 2px solid #4BB7D1;
      text-align: center;
      .input_codigo {
        width: 100%;
        height: auto;
        border: 0px;
        text-align: center;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 2.2em;
        color: #494949;
      }
    }
  }
  .btn_enviar_cont {
    display: block;
    height: 0%;
    margin-top: 5%;
    .btn_enviar {
      background: #4BB7D1;
      &:active {
        background-color: rgba(0,0,0,0);
      }
    }
  }
}
