<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <!-- Flecha retroceder -->
      <button ion-button class="back_btn" (click)="closeModal()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <!-- Mensaje -->
  <p *ngIf="sms_status == 0">Se ha enviado un mensaje SMS con un código de verificación.</p>
  <p *ngIf="sms_status == 10">Ya se ha enviado un código de verificación. Por favor, espere unos minutos...</p>

  <!-- Código -->
  <div class="codigo_cont">
    <div class="numero">
      <input type="number" #cod1 maxlength="1" class="input_codigo" min="0" max="9" size="1" placeholder="0" [(ngModel)]="codigo[0]" (keyup)="nextInput(1);">
    </div>
    <div class="numero">
      <input type="number" #cod2 maxlength="1" class="input_codigo" min="0" max="9" size="1" placeholder="0" [(ngModel)]="codigo[1]" (keyup)="nextInput(2);">
    </div>
    <div class="numero">
      <input type="number" #cod3 maxlength="1" class="input_codigo" min="0" max="9" size="1" placeholder="0" [(ngModel)]="codigo[2]" (keyup)="nextInput(3);">
    </div>
    <div class="numero">
      <input type="number" #cod4 maxlength="1" class="input_codigo" min="0" max="9" size="1" placeholder="0" [(ngModel)]="codigo[3]">
    </div>
  </div>

  <!-- Boton Enviar -->
  <div style="clear:both;width:100%;padding: 0% 0%;">
    <ion-fab right class="btn_enviar_cont" (click)="verificar();">
      <button ion-fab type="submit" class="btn_enviar">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-fab>
  </div>

</ion-content>
