
<ion-header>

  <ion-navbar>
    <ion-title>Tarjeta de crédito</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="izzabell" (click)="save();">
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <form [formGroup]="form" #demoForm="ngForm" (ngSubmit)="onSubmit(demoForm)" novalidate>

    <ion-list-header class="seccion">
		  Propietario de la tarjeta
      <button style="padding: 0; margin: 0; position: absolute; right: 0px; top: -8px;" large (click)="escanearTarjeta()" type="button" ion-button icon-only clear>
        <ion-icon name="ios-camera"></ion-icon>
      </button>
	  </ion-list-header>
    <p padding *ngIf="submitted" style="color: #ea6153;">Por favor rellene los datos correctamente.</p>
    <ion-list>
      <ion-item>
        <label>Nombre</label>
        <input formControlName="nombre" type="text" [(ngModel)]="card.holder_name" name="holder_name" placeholder="Nombre y Apellido" class="input-credit">
        <ion-icon *ngIf="!form.controls.nombre.valid && (form.controls.nombre.dirty || submitted)" name="alert" style="right: 5%; position: absolute" color="danger"></ion-icon>
        
      </ion-item>

      <ion-list-header class="seccion">
        Información de la tarjeta
      </ion-list-header>
      <ion-item>
        <label>Número</label>
        <input formControlName="creditCard" type="tel" id="cc-number" type="tel" autocomplete="cc-number" ccNumber [(ngModel)]="card.number" name="number" placeholder="XXXX XXXX XXXX XXXX" class="input-credit">
        <ion-icon *ngIf="!form.controls.creditCard.valid && (form.controls.creditCard.dirty || submitted)" name="alert" style="right: 5%; position: absolute" color="danger"></ion-icon>
      </ion-item>

      <ion-item>
        <label>Vence el</label>
        <input [(ngModel)]="card.exp_month" name="exp_month" placeholder="MM/AAAA" id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp class="input-credit">
        <ion-icon *ngIf="!form.controls.expirationDate.valid && (form.controls.expirationDate.dirty || submitted)" name="alert" style="right: 5%; position: absolute" color="danger"></ion-icon>
      </ion-item>

      <ion-item>
        <label>CVV</label>
        <input [(ngModel)]="card.cvc" name="cvc" placeholder="XXX" id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc class="input-credit" class="input-credit">
        <ion-icon *ngIf="!form.controls.cvc.valid && (form.controls.cvc.dirty || submitted)" name="alert" style="right: 5%; position: absolute" color="danger"></ion-icon>
      </ion-item>

    </ion-list>
  </form>

  <!--<form [formGroup]="form" #demoForm="ngForm" (ngSubmit)="onSubmit(demoForm)" novalidate>
        <input id="cc-number" formControlName="creditCard" type="tel" autocomplete="cc-number" ccNumber>
        <input id="cc-exp-date" formControlName="expirationDate" type="tel" autocomplete="cc-exp" ccExp>
        <input id="cc-cvc" formControlName="cvc" type="tel" autocomplete="off" ccCvc>
    </form>

    <div *ngIf="!form.controls.creditCard.valid" class="alert alert-danger">Credit Card is invalid</div>-->
</ion-content>
