<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <!-- Flecha retroceder -->
      <button ion-button class="back_btn" (click)="clickBack();">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="contenido" (click)="blur();">

  <!-- Input de texto -->
  <textarea #text id="texto"  placeholder="¿Qué desea?" [(ngModel)]="texto" (input)="getTextoTextArea(text.value)"></textarea>

  <!-- Boton Realizar -->
  <button id="seguir" (click)="clickRealizar();">REALIZAR</button>

</ion-content>
