//Mixins
@import "../../assets/mixins";

page-mensajeria-inicio {
  .toolbar-background {
    background: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #fff !important;
  }

  .toolbar-background-ios {
    background: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
  }
  .back_btn {
    color: #fff;
  }
  #contenido {
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #texto {
      display: block;
      width: calc(100% - 32px);
      height: auto;
      margin: 16px;
      padding: 8px;
      @include font("Titillium Web", 1.2em, 400, #212121);
      border: 0px;
      border-radius: 2px;
      background: rgba(255,255,255,0.3);
      resize: none;
      color: #fff;
      &::placeholder {
        color: rgba(240,240,240,1);
      }
    }
  }
  #seguir {
    background: #fff;
    display: block;
    width: calc(100% - 32px);
    height: auto;
    margin: 16px;
    padding: 16px;
    @include font("Titillium Web", 1.6em, 700, #37B6EB);
    box-shadow: 0px 2px 4px 0px rgba(120,120,120, 0.5);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
