<!-- Afiliate Form: Vista donde mostrara formulario para afiliarse al servicio -->
<ion-header>

  <ion-navbar>
    <ion-title>Afíliate</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="main_content">

  <!-- Formulario de ingreso de datos -->
  <form class="afiliate_form" [formGroup]="form_afiliate">
    <p class="error" *ngIf="formError && form_afiliate.invalid">Verifique la información introducida.</p>
    <p class="inf_form">INGRESA TUS DATOS</p>
    <!-- Contenedor de las cajas de texto -->
    <ion-list no-lines class="item-borderless inputs_container">
      <!-- Fila: Input del formulario -->
      <ion-item class="row_txt">
        <ion-label fixed>Nombre</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.nombre" formControlName="nombre" name="nombre" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.nombre.valid && (form_afiliate.controls.nombre.dirty || formError)">
        <p>Introduzca un nombre válido.</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Apellido</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.apellido" formControlName="apellido" name="apellido" placeholder="Apellido"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.apellido.valid && (form_afiliate.controls.apellido.dirty || formError)">
        <p>Introduzca un apellido válido.</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Correo</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.correo" formControlName="correo" name="correo" placeholder="ejemplo@correo.com"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.correo.valid && !correoValido">
        <p>Introduzca un correo electrónico válido.</p>
        <p>Ejemplo: nombre@empresa.com</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Teléfono</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.telefono" formControlName="telefono" name="telefono" placeholder="Teléfono"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.telefono.valid && (form_afiliate.controls.telefono.dirty || formError)">
        <p>Introduzca un número de teléfono válido.</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Celular</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.celular" formControlName="celular" name="celular" placeholder="Celular"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.celular.valid && (form_afiliate.controls.celular.dirty || formError)">
        <p>Introduzca un número celular válido.</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Profesión</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.profesion" formControlName="profesion" name="profesion" placeholder="Abogado, médico, pintor, etc."></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.profesion.valid && (form_afiliate.controls.profesion.dirty || formError)">
        <p>Introduzca una profesión válida.</p>
      </ion-item>
      <ion-item class="row_txt">
        <ion-label fixed>Empresa</ion-label>
        <ion-input type="text" value="" [(ngModel)]="afiliado.empresa" formControlName="empresa" name="empresa" placeholder="Empresa"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form_afiliate.controls.empresa.valid && (form_afiliate.controls.empresa.dirty || formError)">
        <p>Introduzca una empresa válida.</p>
      </ion-item>
    </ion-list>

    <!-- Boton Afiliar -->
    <button class="btn_afiliar" (click)="enviarDatos()">Enviar</button>
  </form>
  <!-- //Formulario -->

</ion-content>
