//Fuentes Importadas
//---Roboto
@import "../../assets/fonts/roboto.css";

//Mixins
@import "../../assets/mixins.scss";

page-afiliate-form {

  .main_content {
    background-color: rgba(231, 235, 238, 1);
    .error {
      display: block;
      width: 100%;
      height: auto;
      margin: 5% 0px 2% 5%;
      padding: 0px;
      color: #f30d0d;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1em;
    }
    .inf_form {
      display: block;
      width: 100%;
      height: auto;
      margin: 5% 0px 2% 5%;
      padding: 0px;
      color: rgb(95, 96, 96);
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1em;
    }
    .inputs_container {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      .row_txt {
        font-family: "Roboto", sans-serif;
        font-size: 1.1em;
        color: rgb(12, 12, 12);
        border-top: 1px solid rgb(221, 225, 228);
        &:last-child {
          border-bottom: 1px solid rgb(221, 225, 228);
        }
      }
    }
    .btn_afiliar {
      display: block;
      width: 90%;
      height: auto;
      margin: 10% 5%;
      padding: 3%;
      color: #fff;
      background-color: rgba(62, 169, 198, 1);
      font-family: "Roboto", sans-serif;
      font-size: 1.7em;
      font-weight: 400;
      @include border-radius(4px);
    }
  }
}