<ion-header>

  <ion-navbar>
    <ion-title>Pago de servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <br>
  
  <div style="text-align: center; margin: 0 auto;">
    <ion-searchbar
      mode="md"
      [(ngModel)]="searchQuery"
      (ionInput)="getItems($event)"
      [showCancelButton]="shouldShowCancel">
       
    </ion-searchbar>
  </div>

  <br>

  <div style="text-align: center;">
    <p>Elige el servicio de tu preferencia</p>
  </div>

  <!-- <div style="margin: 0 auto; text-align: center;" *ngIf="carga">
    <ion-spinner name="crescent"></ion-spinner>
  </div> -->

  <ion-grid no-padding *ngIf="vista == 'categoria'">
    <ion-row wrap no-padding>
      <ion-col no-padding col-4 *ngFor="let item of items; let i = index;">
        <button ion-card (click)="irServicio($event, item);">
          <img [src]="item.imagen"/>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
