<!--
  Generated template for the AyudaPoliticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Políticas y Privacidad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Esta es la pantalla en donde se mostraran las politicas y privacidad de Izzabell
</ion-content>
