//Mixins
@import "../../assets/mixins";

/** BUG IONIC 2 **/
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
/** BUG IONIC 2 **/

page-ubicacion {
  header {
    padding: 4px;
    padding-top: calc(24px);
    min-height: calc(44px + 20px);
    display: block;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #back_btn {
      display: inline-block;
      color: #fff;
      padding: 0px 4px 0px 4px;
      border-radius: 4px;
      height: 32px;
      border: 0;
      font-size: 1.7rem;
      background: transparent !important;
    }
    #buscar_dir {
      display: inline-block;
      width: calc(100% - 8px);
      margin: 2% 4px 2% 4px;
      padding: 2% 3%;
      @include font("Titillium Web", 1.25em, 400, #f5f5f5);
      border: 0px solid;
      background: rgba(0,0,0,0.07);
      &::placeholder {
        color: rgba(255,255,255,0.5);
      }
    }
  }
  .ion-content {
    @include flexbox();
    @include flex-flow(column nowrap);
    overflow: hidden;
  }
  #predicciones {
    @include flex(1);
    width: 100%;
    min-height: 0%;
    background: #fff;
    overflow: scroll;
    .prediccion {
      display: block;
      width: 100%;
      height: auto;
      min-height: 48px;
      margin: 0px;
      padding: 8px 16px;
      border-bottom: 1px solid #F3F3F3;
      @include font("Titillium Web", 1.1em, 400, #212121);
      text-align: left;
      background: #fff;
      &:active {
        background: #f6f6f6;
      }
    }
  }
  #mapa {
    @include flex(1);
    width: 100%;
    height: auto;
    background: blue;
  }
  #opciones {
    @include flex(1);
    display: block;
    width: 100%;
    height: auto;
    max-height: min-content;
    margin: 0px;
    padding: 0px;
    background: green;
    #sel_ubicacion {
      border-top: 1px solid #DADADA;
      @include flexbox();
      @include flex-flow(row nowrap);
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: 5% 5%;
      background: #fff;
      margin: 0px;
      .info {
        @include flex(7);
        box-sizing: border-box;
        p {
          display: block;
          margin: 0px;
          width: 100%;
          height: auto;
          text-align: left;
          &.titulo { 
            @include font("Titillium Web", 1.2em, 400, #212121);
            padding-bottom: 3%;
          }
          &.ubicacion {
            @include font("Titillium Web", 1.5em, 400, #212121);
          }
        }
      }
      .icon {
        @include flex(1);
        position: relative;
        ion-icon { 
          font-size: 2.5em;
          color: #585858;
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(0%, -50%);
        }
      }
    }
    #seguir {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 5% 5%;
      background: linear-gradient(to right, #37B6EB, #47CCC9);
      @include font("Titillium Web", 1.6em, 600, #fff);
    }
  }

  /*header {
    z-index: 2;
    clear: both;
    padding: 4px;
    padding-top: calc(24px);
    min-height: calc(44px + 20px);
    display: block;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #back_btn {
      display: block;
      color: #fff;
      padding: 0px 4px 0px 4px;
      border-radius: 4px;
      height: 32px;
      border: 0;
      font-size: 1.7rem;
      background: transparent !important;
    }
    #titulo_pagina {
      display: block;
      width: calc(100% - 8px);
      margin: 0px;
      margin-top: 3%;
      margin-bottom: 6%;
      padding: 4px;
      @include font("Titillium Web", 1.7em, 400, #fff);
    }
  }
  
  #mapa {
    @include flex(1);
    width: 100%;
    min-height: 88%;
    z-index: 2;
    background: red;
  }
  #opciones {
    @include flex(1);
    display: block;
    width: 100%;
    height: auto;
    max-height: min-content;
    margin: 0px;
    padding: 0px;
    background: green;
    #sel_ubicacion {
      border-top: 1px solid #DADADA;
      @include flexbox();
      @include flex-flow(row nowrap);
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      padding: 5% 5%;
      background: #fff;
      margin: 0px;
      .info {
        @include flex(7);
        box-sizing: border-box;
        p {
          display: block;
          margin: 0px;
          width: 100%;
          height: auto;
          text-align: left;
          &.titulo { 
            @include font("Titillium Web", 1.2em, 400, #212121);
            padding-bottom: 3%;
          }
          &.ubicacion {
            @include font("Titillium Web", 1.5em, 400, #212121);
          }
        }
      }
      .icon {
        @include flex(1);
        position: relative;
        ion-icon { 
          font-size: 2.5em;
          color: #585858;
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(0%, -50%);
        }
      }
    }
    #seguir {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 5% 5%;
      background: linear-gradient(to right, #37B6EB, #47CCC9);
      @include font("Titillium Web", 1.6em, 600, #fff);
    }
  }*/
}