<ion-header>
  <!-- Cabecera -->
    <header id="cabecera">
      <div id="btn_container_back">
        <button id="back_btn" (click)="clickBack();"><ion-icon name="md-arrow-back"></ion-icon></button>
      </div>
      <input type="text" id="buscar_dir" (focus)="input_focus();" (blur)="input_blur();" (input)="getPredicciones();" [(ngModel)]="buscarUbicacion.query" placeholder="Escribe una dirección">
    </header>
</ion-header>
<ion-content no-bounce id="ion-content">
  <!-- Predicciones -->
  <section id="predicciones" [@preds_list]="preds_state">
    <!-- Prediccion -->
    <button class="prediccion" *ngFor="let pred of predicciones" [style.display]="display_items_state" (click)="clickPrediccion(pred)">{{pred.description}}</button>
  </section>
  <section id="mapa"  [style.height]="mapaHeight">
  </section>
  <!-- Opciones -->
  <section id="opciones" *ngIf="preds_state != 'show'">
    <!-- Seleccion de Ubicacion -->
    <button id="sel_ubicacion" (click)="selUbicacion();">
      <div class="info">
        <p class="titulo">Ubicaciónes Guardadas</p>
        <p class="ubicacion">Fox Rent a Car - Oficina Central, Vía E...</p>
      </div>
      <div class="icon">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </button>
    <!-- Boton aqui estoy -->
    <button id="seguir" (click)="setUbicacion();">AQUÍ ESTOY</button>
  </section>
</ion-content>
