@import "../../assets/mixins";

.fade {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.3);
}
.sel_view {
  transform: scale(1.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
  width: 80%;
  background: #fff;
  border-radius: 5%;
  .cabecera {
    padding: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: #212121;
  }
  .division_line {
    width: 100%;
    height: 0.5px;
    padding: 0%;
    background: #E4E3E6;
  }
  .body_options {
    overflow-y: scroll;
    max-height: 200px;
    ion-list {
      max-height: 200px;
      margin: 0px;
      padding: 0px;
      .opcion {
        img {
          width: 10%;
          height: auto;
          vertical-align: middle;
        }
        span {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 1em;
          color: #212121;
          vertical-align: middle;
          padding: 0% 3%;
        }
        ion-icon {
          vertical-align: middle;
        }
      }
    }
  }
  .footer_btns {
    @include flexbox();
    @include flex-flow(row nowrap);
    align-items: stretch;
    .btn_cont {
      @include flex(1);
      button.ok_btn {
        font-weight: 700;
      }
    }
    .div_line_vertical {
      @include flex(1);
      max-width: 0.5px;
      background: #E4E3E6;
    }
  }
}