
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <!-- Flecha retroceder -->
      <button ion-button class="back_btn" [@flecha]="focus_state" *ngIf="focus_state" (click)="backBtn()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- SELECT VIEW -->
  <div class="fade" *ngIf="selV.select_state == 'abierto'"></div>
  <div class="sel_view" *ngIf="selV.select_state == 'abierto'">
    <!-- Cabecera -->
    <div class="cabecera">Selecciona un país</div>
    <div class="division_line"></div>
    <div class="body_options">
      <ion-list no-lines>
        <!-- Botones de Paises -->
        <button ion-item detail-none *ngFor="let pais of paises; let i = index;" class="opcion" [style.color]="selV.selToConfirm == i ? '#3971FE' : '#212121'" (click)="selV.clickedItem(i)">
          <img src="assets/images/{{pais.nombre}}.svg" alt="+507">
          <span [style.color]="selV.selToConfirm == i ? '#3971FE' : '#212121'">{{pais.codigo}}</span><ion-icon [style.opacity]="selV.selToConfirm == i ? 1 : 0" [style.color]="selV.selToConfirm == i ? '#3971FE' : '#212121'" name="checkmark" item-end></ion-icon>
        </button>
      </ion-list>
    </div>
    <!-- Linea de division opaca -->
    <div class="division_line"></div>
    <!-- Botones de accion -->
    <div class="footer_btns">
      <div class="btn_cont">
        <button ion-button clear class="cancel_btn" (click)="selV.cancelSel()">Cancelar</button>
      </div>
      <div class="div_line_vertical"></div>
      <div class="btn_cont">
        <button ion-button clear class="ok_btn" (click)="selV.confirmSel()">OK</button>
      </div>
    </div>
  </div>

  <!-- FIN DE SELECT VIEW -->

  <!-- Logo -->
  <img src="assets/images/logo.png" alt="Logo" class="logo" [@logo_anim]="focus_state">

  <!-- Input -->
  <div class="label_text" [@label]="focus_state">
    Ingrese su número celular
  </div>
  <div class="input" [@input]="focus_state">
    <button class="sel_pais" (click)="selV.clickSelect()">
      <div class="select_pais">
        <div class="opcion"><img src="assets/images/{{paises[selV.sel_opt].nombre}}.svg" alt="+507"> <span>{{paises[selV.sel_opt].codigo}}</span> <ion-icon name="md-arrow-dropdown"></ion-icon></div>
      </div>
    </button>
    <div class="input_tel">
      <input #input [(ngModel)]="num_tel" (focus)="getFocus()" type="tel" placeholder="Celular">
    </div>
  </div>

  <!-- Redes Sociales -->
  <div class="social_btns" [@social_btns]="focus_state" *ngIf="enviar_state != 'focus'">
    <button ion-button block icon-left no-padding color="facebook" (click)="loginFacebook();">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-auto style="border-right: 1px solid #6279AC;"><img height="28px" src="assets/images/iconos/facebook.svg"></ion-col>
          <ion-col><label>Ingresa con Facebook</label></ion-col>
        </ion-row>
      </ion-grid>
    </button>

    <button ion-button block icon-left no-padding color="blanco" style="border: 2px solid #EBEBEB; margin-top: 14px;" (click)="loginGoogle();">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-auto style="border-right: 1px solid #DFDFDF;"><img height="28px" src="assets/images/iconos/google.svg"></ion-col>
          <ion-col><label>Ingresa con Google</label></ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </div>

  <!-- Boton Enviar -->
  <div style="clear:both;width:100%;padding: 0% 0%;">
    <ion-fab right class="btn_enviar_cont" (click)="submitLogin()" [@b_enviar]="enviar_state">
      <button ion-fab type="submit" class="btn_enviar">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-fab>
  </div>

</ion-content>
