<!--
  Generated template for the NuevaDireccionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nueva dirección</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
    <ion-item>
      <ion-input (click)="showAddressModal()" [(ngModel)]="address.place" type="text" placeholder="Pick an address"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
