//Fuentes Importadas
//---Roboto
@import "../../assets/fonts/roboto.css";

page-como-funciona {

  .bg {
      background: #ECEFF1;
  }

  .toolbar-background {
      background: #ffffff;
      // color: #4BB7D1 !important;
  }

  .seccion {
      // background: #ffffff;
      // border-top: 1px solid #989898;
      // border-bottom: 1px solid #989898;
      margin-top: 10%; 
  }

  .hide_item {
    display: none;
  }

  .touch_view {
    color: #000;
  }

  .contenido_cont {
    
  }

}
