<ion-header>

  <ion-navbar>
    <ion-title>¿Cómo funciona?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <!-- Lista de items -->
  <ion-list class="seccion">
    <!-- Item 0 -->
    <ion-item (click)="abrirList(0)">
      <a class="touch_view">¿Qué es izzabell?</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==0">
          <p text-wrap>Izzabell es tu asistente personal disponible para ti las 24 horas del día, los 7 días de la semana, sin enredos ni complicaciones.</p>
          <br>
          <img src="assets/images/como-funciona/1.png" width="100%">
          <br><br>
          <p text-wrap>Puedes solicitar cualquier cosa que necesites, sin importar la hora o el lugar, Izzabell te ayuda en todo momento.</p>
          <br>
          <img src="assets/images/como-funciona/2.png" width="100%">
          <br><br>
          <p text-wrap>Izzabell recibe tu solicitud y de inmediato te responde.</p>
          <br>
          <img src="assets/images/como-funciona/3.png" width="100%">

        </div>
      </div>
    </ion-item>
    <!-- Item 1 -->
    <ion-item (click)="abrirList(1)">
      <a class="touch_view">Realizar solicitudes</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==1">
          <p text-wrap>Empieza por escribir lo que necesitas en la pantalla de Inicio.</p>
          <br>
          <img src="assets/images/como-funciona/4.png" width="100%">
          <br><br>
          <p text-wrap>Desde pedir una pizza hasta hacer una reservación, Izzabell te ayuda en todo momento.</p>
          <br>
          <img src="assets/images/como-funciona/5.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/6.png" width="100%">
          <br><br>
          <p text-wrap>Toca el botón de enviar para hacernos llegar tu solicitud.</p>
          <br>
          <img src="assets/images/como-funciona/7.png" width="100%">
          <br><br>
          <p text-wrap>Si necesitas algo muy específico, también tienes la opción de enviar un archivo adjunto con tu solicitud. Toca el boton de adjunto para incluir una foto o documento detallando exactamente lo que necesitas.</p>
          <br>
          <img src="assets/images/como-funciona/8.png" width="100%">
          <br><br>
          <p text-wrap>También tienes la opción de comunicarte directamente con Izzabell por medio de chat o llamada telefónica utilizando los botones correspondientes en el menú inferior.</p>
        </div>
      </div>
    </ion-item>
    <!-- Item 2 -->
    <ion-item (click)="abrirList(2)">
      <a class="touch_view">Listado de solicitudes</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==2">
          <img src="assets/images/como-funciona/9.png" width="100%">
          <br><br>
          <p text-wrap>Para ver todas las solicitudes que has realizado, toca el botón Solicitudes en el menú inferior.</p>
          <br>
          <img src="assets/images/como-funciona/10.png" width="100%">
          <br><br>
          <p text-wrap>Desde aquí podrás ver en detalle todas tus solicitudes. Puedes agruparlas por estado, ya sea que estén pendientes o hayan sido completadas, utilizando los botones en la parte de arriba. Toca una solicitud de la lista para ver más información.</p>
          <br>
          <img src="assets/images/como-funciona/11.png" width="100%">
          <br><br>
          <p text-wrap>Desde el detalle de tu solicitud podrás ver el estado de la misma, la hora en que fue realizada, respondida, cuándo se completó y el paso a paso de cada acción que se tomó para llevarla a cabo.</p>
          <br>
          <img src="assets/images/como-funciona/12.png" width="100%">
          <br><br>
          <p text-wrap>Ayuda a Izzabell a mejorar la experiencia que te brinda calificando desde esta misma pantalla cómo te pareció que fue atendida tu solicitud.</p>
          <br>
          <p text-wrap> Toma en cuenta detalles como el tiempo de respuesta que se le dio a tu solicitud, la atención brindada por Izzabell y si fue de tu agrado las opciones que se te brindaron.</p>
        </div>
      </div>
    </ion-item>

    <!-- Item 3 -->
    <ion-item (click)="abrirList(3)">
      <a class="touch_view">Modificar datos de cuenta</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==3">
          <p text-wrap>Dirígete a la opción Ajustes en el menú inferior y luego a Mi cuenta para modificar datos relacionados a tu cuenta.</p>
          <br>
          <img src="assets/images/como-funciona/13.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/14.png" width="100%">
          <br><br>
          <p text-wrap>Toca en tu usuario para modificar datos como tu nombre, teléfono celular, correo electrónico, foto de perfil y poder crear una contraseña si así lo deseas.</p>
          <br>
          <img src="assets/images/como-funciona/15.png" width="100%">
          <p text-wrap>Para guardar los cambios, presiona Guardar en la parte superior.</p>
          <br>
          <img src="assets/images/como-funciona/16.png" width="100%">
        </div>
      </div>
    </ion-item>

    <!-- Item 4 -->
    <ion-item (click)="abrirList(4)">
      <a class="touch_view">Agregar direcciones</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==4">
          <p text-wrap>Dirígete a Ajustes en el menú inferior y luego a Mi cuenta.</p>
          <img src="assets/images/como-funciona/17.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/18.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/19.png" width="100%">
          <br><br>
          <p text-wrap>Desde aquí podrás agregar direcciones de casa, trabajo o adicionales si tu solicitud requiere la presencia de personal o la entrega y/o recolección de bienes o mercancía en tu domicilio o lugar de trabajo.</p>
          <br><br>
          <img src="assets/images/como-funciona/20.png" width="100%">
          <br><br>
          <p text-wrap>Solo escribe tu dirección en la barra de búsqueda y selecciónala de la lista.</p>
        </div>
      </div>
    </ion-item>

    <!-- Item 5 -->
    <ion-item (click)="abrirList(5)">
      <a class="touch_view">Subscripción y planes</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==5">
          <p text-wrap>Para suscribirte o cambiar de plan, dirígete en el menú inferior a Ajustes > Planes.</p>
          <img src="assets/images/como-funciona/21.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/22.png" width="100%">
          <br><br>
          <p text-wrap>A continuación selecciona el plan al que desees cambiarte o suscribirte.</p>
          <br><br>
          <img src="assets/images/como-funciona/23.png" width="100%">
        </div>
      </div>
    </ion-item>

    <!-- Item 6 -->
    <ion-item (click)="abrirList(6)">
      <a class="touch_view">Administrar métodos de pago</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==6">
          <p text-wrap>Puedes administrar tus métodos de pago en Ajustes > Pagos.</p>
          <img src="assets/images/como-funciona/24.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/25.png" width="100%">
          <br><br>
          <p text-wrap>Para agregar un nuevo método de pago, selecciona la opción Agregar método de pago. A continuación selecciona el método de pago que desees agregar e ingresa los datos correspondientes.</p>
          <br><br>
          <img src="assets/images/como-funciona/26.png" width="100%">
          <br><br>
          <p text-wrap>Para editar, modificar o cambiar los datos de tus métodos de pago, toca Editar en la parte superior y a continuación selecciona tu método de pago.</p>
          <br><br>
          <img src="assets/images/como-funciona/27.png" width="100%">
          <br><br>
          <p text-wrap>Para eliminar un método de pago, selecciona Editar en la parte superior y a continuación toca el botón <img src="assets/images/menos.png" height="15px;" width="15px;"> junto al método de pago que desees quitar para eliminarlo.</p>
          <br><br>
          <img src="assets/images/como-funciona/28.png" width="100%">
        </div>
      </div>
    </ion-item>

    <!-- Item 7 -->
    <ion-item (click)="abrirList(7)">
      <a class="touch_view">Afiliación al servicio</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==7">
          <p text-wrap>Si tienes una empresa o brindas servicios a terceros, puedes afiliarte a Izzabell desde Ajustes > Afíliate y así poder llegar a más personas a través de nuestra plataforma.</p>
          <img src="assets/images/como-funciona/29.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/30.png" width="100%">
          <br><br>
          <p text-wrap>Toca el botón Afíliate ahora. A continuación ingresa tus datos y luego presiona Enviar.</p>
          <br><br>
          <img src="assets/images/como-funciona/31.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/32.png" width="100%">
          <br><br>
        </div>
      </div>
    </ion-item>

    <!-- Item 8 -->
    <ion-item (click)="abrirList(8)">
      <a class="touch_view">Enviar dudas e inquietudes</a>
      <div class="content">
        <div padding class="contenido_cont" *ngIf="abrir==8">
          <p text-wrap>Dirígete a Ajustes > Ayuda para conocer más sobre la aplicación.</p>
          <br><br>
          <img src="assets/images/como-funciona/33.png" width="100%">
          <br><br>
          <img src="assets/images/como-funciona/34.png" width="100%">
          <br><br>
          <p text-wrap>Desde aquí podrás conocer los términos y condiciones, políticas y privacidad o enviarnos tus inquietudes.</p>
          <br><br>
          <img src="assets/images/como-funciona/35.png" width="100%">
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
