<ion-header>
  <!-- Cabecera -->
    <header>
      <button id="back_btn" (click)="clickBack();"><ion-icon name="md-arrow-back"></ion-icon></button>
      <h1 id="titulo_pagina">Ubicaciones Guardadas</h1>
    </header>
</ion-header>
<ion-content class="ion-content" no-bounce>
  <!-- Contenido -->
  <div id="contenido">
    <!-- Indicaciones -->
    <p class="label">Seleccione una ubicación</p>
    <!-- Lista -->
    <div class="ubicaciones">
      <!-- Ubicaciones -->
      <button class="ubicacion_item" *ngFor="let ub of ubicaciones" (click)="clickUbicacion(ub.ubicacion);">
        <img src="assets/images/icon.svg" class="icono_izquierda" *ngIf="ub.tipo === 'Casa'">
        <img src="assets/images/briefcase.svg" class="icono_izquierda" *ngIf="ub.tipo === 'Trabajo'">
        <img src="assets/images/location.svg" class="icono_izquierda" *ngIf="ub.tipo === 'Otro'">
        <div class="info">
          <p class="titulo">{{ub.tipo}}</p>
          <p class="ubicacion">{{ub.ubicacion.direccion}}</p>
        </div>
        <img src="assets/images/checkmark.svg" class="icono_derecha" *ngIf="ubicacionSeleccionada == ub.ubicacion">
      </button>
      
      <!-- Agregar Ubicacion -->
      <button class="ubicacion_item new">
        <div class="container"><ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;&nbsp;Agregar Ubicación</div>
      </button>
    </div>

  </div>
  <!-- Boton aqui estoy -->
  <button id="seguir" (click)="setUbicacion();">AQUÍ ESTOY</button>

</ion-content>
