<ion-header>

  <ion-navbar>
    <ion-title>Planes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

		<ion-list radio-group [(ngModel)]="usuario.tipo_plan" class="seccion">

			<ion-item>
				<ion-thumbnail item-start>
					<img src="assets/images/iconos/suscripcion-por-uso.svg">
				</ion-thumbnail>
				<ion-label>
					Pago por uso
					<p>1 mes gratis</p>
				</ion-label>
				<button ion-button outline item-end icon-left>
					 USD 0.89
				</button>
				<ion-radio [checked]="usuario.tipo_plan == 1" value="1"></ion-radio>
			</ion-item>

			<ion-item>
				<ion-thumbnail item-start>
					<img src="assets/images/iconos/suscripcion-mensual.svg">
				</ion-thumbnail>
				<ion-label>
					Plan Mensual
					<p>1 mes gratis</p>
				</ion-label>

				<button ion-button outline item-end icon-left>
					 USD 9.49
				</button>
				<ion-radio [checked]="usuario.tipo_plan == 2" value="2"></ion-radio>
			</ion-item>
		</ion-list>

	<div padding>
		<button ion-button block (click)="editarPlan()" color="izzabell">Cambiar</button>
	</div>
</ion-content>
