page-planes {
    .bg {
        background: #ECEFF1;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .seccion {
        // background: #ffffff;
        // border-top: 1px solid #989898;
        // border-bottom: 1px solid #989898;
        margin-top: 10%; 
    }
    
}
