//Mixins
@import "../../assets/mixins";


/** BUG IONIC 2 **/
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
/** BUG IONIC 2 **/

page-mensajeria-ubicacion {
  #contenido {
    @include flexbox();
    @include flex-flow(column nowrap);
    width: 100%;
    height: 100%;
    #mapa {
      @include flex(1);
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      background: #fff;
      position: relative;
      #marcador {
        z-index: 5;
        width: 32px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
      }
    }
    #opciones {
      @include flex(1);
      display: block;
      width: 100%;
      height: auto;
      max-height: min-content;
      margin: 0px;
      padding: 0px;
      background: green;
      #sel_ubicacion {
        border-top: 1px solid #DADADA;
        @include flexbox();
        @include flex-flow(row nowrap);
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding: 5% 5%;
        background: #fff;
        margin: 0px;
        .info {
          @include flex(7);
          box-sizing: border-box;
          p {
            display: block;
            margin: 0px;
            width: 100%;
            height: auto;
            text-align: left;
            &.titulo { 
              @include font("Titillium Web", 1.2em, 400, #212121);
              padding-bottom: 3%;
            }
            &.ubicacion {
              @include font("Titillium Web", 1.5em, 400, #212121);
            }
          }
        }
        .icon {
          @include flex(1);
          position: relative;
          ion-icon { 
            font-size: 2.5em;
            color: #585858;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%, -50%);
          }
        }
      }
      #seguir {
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 5% 5%;
        background: linear-gradient(to right, #37B6EB, #47CCC9);
        @include font("Titillium Web", 1.6em, 600, #fff);
      }
    }
  }
  header {
    z-index: 2;
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px;
    padding-top: calc(24px);
    min-height: calc(44px + 20px);
    display: block;
    width: 100%;
    margin: 0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(255,255,255,0));
    #back_btn {
      display: inline-block;
      color: #fff;
      padding: 0px 4px 0px 4px;
      border-radius: 4px;
      height: 32px;
      border: 0;
      font-size: 1.7rem;
      background: transparent !important;
      vertical-align: middle;
      z-index: 99999999;
    }
    #titulo_pagina {
      display: inline-block;
      margin: 0px;
      margin-left: 3%;
      padding: 0px;
      vertical-align: middle;
      @include font("Titillium Web", 1.7em, 400, #fff);
    }
  }
}