<ion-header>
  <!-- Cabecera -->
  <header (click)="clickBack();" (tap)="clickBack();">
    <button id="back_btn"><ion-icon name="md-arrow-back"></ion-icon></button>
    <h1 id="titulo_pagina">¿Donde estoy?</h1>
  </header>
</ion-header>

<ion-content fullscreen="false" no-bounce>

  <!-- Contenido bajo -->
  <div id="contenido">
    <!-- Mapa -->
    <section id="mapa">
      <!-- Marcador -->
      <!--<img id="marcador" src="assets/images/pin.svg" alt="Pin">-->
    </section>

    <!-- Opciones -->
    <section id="opciones">
      <!-- Seleccion de Ubicacion -->
      <button id="sel_ubicacion" (click)="selUbicacion();">
        <div class="info">
          <p class="titulo">Ubicaciónes Guardadas</p>
          <p class="ubicacion">Fox Rent a Car - Oficina Central, Vía E...</p>
        </div>
        <div class="icon">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
      </button>
      <!-- Boton aqui estoy -->
      <button id="seguir" (click)="setUbicacion();">AQUÍ ESTOY</button>
    </section>
  </div>
</ion-content>
