page-servicio-asistencia {

    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .image {
        width: 100%;
        height: 200px;
        // background-image: url('../assets/images/dish-iphone-repair-service.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .icon {
        color: gray;;
    }

    .seccion2 {
        background-color: #F5F5F5;
        border-top: 1px #E0E0E0 solid;

        p{
            text-align: center;
        }
    }
}
