page-login-numero {
    
    .toolbar-background {
        background: transparent;
        border-color: transparent !important;
        color: #4BB7D1 !important;
    }

    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
        color: #4BB7D1 !important;
    }

    .toolbar-background-ios {
        background: transparent;
        border-color: transparent !important;
        color: #4BB7D1 !important;
    }

    .fab-ios {
        color: #fff;
        background-color: #4BB7D1 !important;

        .ion-icon {
            font-size: 50px;
        }

    }
    .fab {
        background-color: #4BB7D1 !important;
        .ion-icon {
            font-size: 50px;
        }
        
    }

    ion-header {
        border-color: transparent;
    }

    ion-navbar {
        border-color: transparent;
    }

    ion-icon {
        font-size: 38px; //Preferred size here
    }
}
