
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="login()" #registerForm="ngForm">
    <ion-list no-lines>
      <ion-label>Ingrese su número de teléfono</ion-label>
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col><img height="32px" src="assets/images/iconos/panama.png"></ion-col>
              <ion-col><label>+507</label></ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
        <ion-input style="border-bottom: 2px solid #4BB7D1" #input type="tel" name="telefono" [(ngModel)]="registerCredentials.telefono" autofocus required></ion-input>
      </ion-item>

    </ion-list>

    <ion-fab right bottom>
      <button ion-fab type="submit" [disabled]="!registerForm.form.valid">
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-fab>
  </form>
</ion-content>
