<ion-header>

  <ion-navbar>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br>
  
  <div style="text-align: center; margin: 0 auto;">
    <ion-searchbar
      mode="md"
      [(ngModel)]="searchQuery"
      (ionInput)="getItems($event)"
      [showCancelButton]="shouldShowCancel">
       
    </ion-searchbar>
  </div>

  <br>

  <div style="text-align: center;">
    <p>Seleccione una categoria</p>
  </div>

  <div style="margin: 0 auto; text-align: center;" *ngIf="carga">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-grid no-padding>
    <ion-row wrap no-padding>
      <ion-col no-padding col-4 *ngFor="let categoria of categorias">
        <button ion-card (click)="cargarServicios(categoria);">
          <img [src]="categoria.imagen"/>
          {{categoria.nombre}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
