<ion-content class="content-prueba">
  	
	<section [@fade5]="fadeState4" style="position: absolute; top:5%; text-align: left; margin-left: 15px; margin-top: 15px;">
    	<img style="width: 10%; height: auto" src="assets/images/logosintexto.png">
  	</section>

	<p [@fade4]="fadeState4" style="position: absolute; top: 15%; text-align: left; padding: 10px; font-size: 25px; color: #4BB7D1; margin-top: 18px;">Puedes enviarme algo como esto</p>

	<div [@fade4]="fadeState4" style="position: absolute; top: 48%; padding: 0 30px;">
		<p style="text-align: left; color: #B0BEC5; font-size: 12px;">Quiero una pizza, Necesito un pintor, Hazme el súper, Resérvame un hotel, Cómprame un iPad</p>
	</div>
	
	<section [@fade]="fadeState" style="text-align: center; margin-top: 20%;">
    	<img style="width: 15%; height: auto" src="assets/images/logosintexto.png">
  	</section>

  	<p [@fade3]="fadeState3" style="text-align: center; font-size: 22px; color: #4BB7D1; margin-top: 4.36%; padding: 0 40px; font-weight: lighter; white-space: pre-line;">{{typewriter_display}}</p>

	<!--<div [@fade]="fadeState" [@flyInOut2]="flyInOutState" style="padding: 10px 30px;">
		<p style="text-align: center; color: #B0BEC5; font-size: 12px;">Ejemplos: Quiero una pizza, Necesito un pintor, Hazme el súper, Resérvame un hotel, Cómprame un iPad</p>
	</div>-->
  	
	<form [@fade]="fadeState2" #registerForm="ngForm">
		<ion-grid no-padding [ngClass]="{tecladoActivo: abierto}" style="margin-top: 16%;">
			<ion-row align-items-center>
			
				<ion-col class="buscar">
						<ion-grid no-padding>
							<ion-row align-items-center>
								<ion-col col-auto>
									<button style="color: #B0BEC5;" *ngIf="lastImage === null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="sin-adjunto"></ion-icon>
									</button>
									<button color="izzabellClaro" color="izzabellClaro" *ngIf="lastImage !== null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="con-adjunto"></ion-icon>
									</button>
								</ion-col>
								<ion-col>
									<ion-input class="buscar2" name="search" [placeholder]="placeholderText" (focus)="cambiarEstado();" [(ngModel)]="query" required></ion-input>
								</ion-col>
							</ion-row>
						</ion-grid>
				</ion-col>
		
				<ion-col col-auto>
					<button color="izzabellClaro" [disabled]="!registerForm.form.valid" ion-fab mini clear class="send" (click)="registrarSolicitud(query, 2)" *ngIf="estado_solicitud == 'texto'">
						<ion-icon name="md-send"></ion-icon>
					</button>
					<button color="izzabellClaro" ion-fab mini clear class="send" id="btnGrabar" [@mic]="press_state" (press)="presionaVoz($event);" (touchmove)="toMove();" (touchend)="quitaVoz();" *ngIf="estado_solicitud == 'voz'">
						<ion-icon name="mic"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>

	<!--<div [@fade]="fadeState" [@flyInOut2]="flyInOutState" style="padding: 10px 30px;">
		<p style="text-align: center; color: #B0BEC5; font-size: 12px;">Ejemplos: Quiero una pizza, Necesito un pintor, Hazme el súper, Resérvame un hotel, Cómprame un iPad</p>
	</div>-->

	<!--<div style="text-align: center;">
		<img src="{{pathForImage(lastImage)}}" style="height: 100px;" [hidden]="lastImage === null">
	</div>-->
  
</ion-content>
