
page-home {

	// .searchbar-ios .searchbar-input {
    //     border-radius: 3rem;
    //     border: 1px solid #CFD8DC;
    // }

    // .searchbar-search-icon {
    //     display:none;
    //     width:0;
    //     height:0;
    // }

    .buscar {
        border-radius: 3rem;
        border: 1px solid #CFD8DC;
        padding-left: 10px;
        margin-left: 5px;
    }

    .button-ios {
        
        height: 2.2em;
    }

    .buscar2 {
        border: 0;
    }

    // .send {
    //     width: 30px !important;
    //     height: 30px !important;

    //     ion-icon{
    //         width: 30px;
    //         height: 30px;
    //     }
    // }

    .tecladoActivo {
        position: absolute;
        bottom: 0;
        z-index: 5555;
    }

    .content-prueba {
        background: #fff;
        .scroll-content{
            height: 100%;
        }
    }
}

modal-voz {
    color: red;
}
