<ion-header>

  <ion-navbar>
    <ion-title>Mini Super</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <div class="cabecera">
    <ion-slides pager>
      <ion-slide>
        <img src="assets/images/productos/airwick.png" style="height: 130px; width: auto;">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/productos/airwick.png" style="height: 130px; width: auto;">
      </ion-slide>

      <ion-slide>
        <img src="assets/images/productos/airwick.png" style="height: 130px; width: auto;">
      </ion-slide>

    </ion-slides>
  </div>

  <div class="informacion" padding>
    <p class="titulo">Coca-Cola Fridge Pack Cans, 12 fl oz, 12 Pack</p>
    <p><span class="precio">$9.99</span> <span class="precio-tachado">$13.50</span></p>
  </div>
  
  <ion-list>
    <ion-item>
      Tipo
    </ion-item>
    <ion-item>
      <ion-grid no-padding>
        <ion-row justify-content-center no-padding>
          <ion-col col-1>

          </ion-col>
          <ion-col col-auto align-self-center style="text-align: center;">
            <button ion-button clear icon-only no-padding (click)="menos()">
              <ion-icon name="ios-remove-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-3 align-self-center style="text-align: center;">
            <span style="font-size: 18px;">{{producto.cantidad}}</span>
          </ion-col>
          <ion-col col-auto align-self-center style="text-align: center;">
            <button ion-button clear icon-only (click)="mas()">
              <ion-icon name="ios-add-outline"></ion-icon>
            </button>
          </ion-col>
          <ion-col style="text-align: right">
            <button ion-button color="izzabellClaro" (click)="agregar()">Agregar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <h2>Descripción</h2>
      <p text-wrap>Esto es un adescripcion del producto. Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </ion-item>
  </ion-list>

</ion-content>
