page-producto {

    .bg {
        background: #EEEEEE;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .cabecera {
        margin: 0;
        padding: 0;
        height: 200px;
        background-color: #fff;
    }

    .informacion {
        background-color: #ffffff;
        margin: 0;

        p { 
            margin: 0;
            padding: 0;
        }
        
        .titulo {
            font-size: 20px;
        }
        
        .precio {
            font-size: 20px;
            color: red;  
        }

        .precio-tachado {
            font-size: 20px;
            text-decoration:line-through;
        }
    }

}
