<ion-header>

  <ion-navbar>
    <ion-title>Editar cuenta</ion-title>
		<ion-buttons end>
      <button ion-button icon-only color="izzabell" (click)="guardarValores();">
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="bg">
	
	<section class="seccion">
		<img [hidden]="lastImage" class="imagen-redonda" src="{{usuario.picture}}">
		<img [hidden]="!lastImage" class="imagen-redonda" src="{{pathForImage(lastImage)}}">
		<br>
		<button ion-button clear color="izzabell" (click)="presentActionSheet()">cambiar</button>
	</section>


	<ion-list-header>
		Información de la cuenta
	</ion-list-header>
	<ion-list>
		<form>
			<ion-item>
				<ion-label>Nombre</ion-label>
				<ion-input placeholder="Nombre Completo" name="nombre" [(ngModel)]="usuario.nombre"></ion-input>
			</ion-item>
			<!-- NO SE PUEDE MODIFICAR PORQUE ESTÁ ASOCIADO A UNA CUENTA DE USUARIO -->
			<!--<ion-item>
				<ion-label>Celular</ion-label>
				<ion-input placeholder="+507 XXXX XXXX" name="telefono" [(ngModel)]="usuario.telefono"></ion-input>
			</ion-item>-->
			<ion-item>
				<ion-label>Correo</ion-label>
				<ion-input placeholder="ejemplo@correo.com" name="email" [(ngModel)]="usuario.email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Contraseña</ion-label>
				<ion-input placeholder="***********" name="password" [(ngModel)]="usuario.password"></ion-input>
			</ion-item>
		</form>
	</ion-list>

	<!--<ion-list>

	  <ion-list-header>Nombre</ion-list-header>
		<ion-item (click)="goToEditarValorPage(0, usuario.nombre)">
			{{usuario.nombre}}
		</ion-item>

		<ion-list-header>Teléfono</ion-list-header>
		<ion-item (click)="goToEditarValorPage(1, usuario.telefono)">
			{{usuario.telefono}}
		</ion-item>

		<ion-list-header>Correo electrónico</ion-list-header>
		<ion-item (click)="goToEditarValorPage(2, usuario.email)">
			{{usuario.email}}
		</ion-item>

	</ion-list>-->
</ion-content>
