@import "../../assets/mixins";

page-editar-cuenta {
    
    .bg {
        background: #ECEFF1;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .seccion {
        margin-top: 35px;
        height: 200px;
        text-align: center; 
        padding: 10px;

        img {
            width: 130px;
            max-width: 130px;
            min-width: 130px;
            height: 130px;
            max-height: 130px;
            min-height: 130px;
            @include border-radius(50%);
        }
    }

    .seccion2 {
        margin-top: 10%; 
    }
    
    .item-ios ion-avatar {       
        min-width: 80px !important;  
        min-height: 80px !important; 

        img {
            width: 80px;
            height: 80px;
        } 
    }
}
