<ion-header>

  <ion-navbar>
    <ion-title>Mis solicitudes</ion-title>
  </ion-navbar>
	<!--<ion-toolbar>
		<ion-segment [(ngModel)]="estado">
      <ion-segment-button value="0">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="2">
        Completadas
      </ion-segment-button>
    </ion-segment>
	</ion-toolbar>-->

</ion-header>


<ion-content>
	<!--<div padding>
	  <ion-segment [(ngModel)]="estado">
	    <ion-segment-button value="0">
	      Pendientes
	    </ion-segment-button>
	    <ion-segment-button value="2">
	      Completadas
	    </ion-segment-button>
	  </ion-segment>
	</div>-->
	<div padding>
		<ion-segment color="izzabellClaro" [(ngModel)]="estado">
			<ion-segment-button value="3">
        Todas
      </ion-segment-button>
      <ion-segment-button value="0">
        Pendientes
      </ion-segment-button>
      <ion-segment-button value="2">
        Completadas
      </ion-segment-button>
    </ion-segment>
	</div>

	<div [ngSwitch]="estado">

		<!--<ion-spinner name="dots"></ion-spinner>-->
			<div style="margin: 0 auto; text-align: center;" *ngIf="carga">
				<ion-spinner name="crescent"></ion-spinner>
			</div>

			<ion-list *ngSwitchCase="'3'">
				<ion-item-sliding [@itemState]="solicitud.state" *ngFor="let solicitud of solicitudes">
					<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
						<ion-avatar class="icono" *ngIf="solicitud.estado == 0" item-start>
							<img src="assets/images/iconos/solicitud_pendiente.svg">
						</ion-avatar>
						<ion-avatar class="icono" *ngIf="solicitud.estado == 2" item-start>
							<img src="assets/images/iconos/solicitud_completada.svg">
						</ion-avatar>
						<h3 class="titulo">{{solicitud.nombre}}</h3>
						<p class="subtitulo" *ngIf="solicitud.estado == 0">Pendiente</p>
						<p class="subtitulo" *ngIf="solicitud.estado == 2">Completado</p>
						<ion-note style="font-size: 13px;" item-end><span style="font-weight: bold;">ID: {{solicitud.id}}</span><br>{{solicitud.hora}}<br>{{solicitud.fecha}}</ion-note>
					</button>
					<ion-item-options side="right">
						<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
							Borrar
						</button>
					</ion-item-options>
				</ion-item-sliding>
	  	</ion-list>

	  	<ion-list *ngSwitchCase="'0'">
				<ion-item-sliding [@itemState]="solicitud.state" *ngFor="let solicitud of solicitudes | filter:{estado:'0'}">
					<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
						<ion-avatar class="icono" item-start>
							<img src="assets/images/iconos/solicitud_pendiente.svg">
						</ion-avatar>
						<h3 class="titulo">{{solicitud.nombre}}</h3>
						<p class="subtitulo" *ngIf="solicitud.estado == 0">Pendiente</p>
						<p class="subtitulo" *ngIf="solicitud.estado == 2">Completado</p>
						<ion-note style="font-size: 13px;" item-end><span style="font-weight: bold;">ID: {{solicitud.id}}</span><br>{{solicitud.hora}}<br>{{solicitud.fecha}}</ion-note>
					</button>
					<ion-item-options side="right">
						<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
							Borrar
						</button>
					</ion-item-options>
				</ion-item-sliding>
				<ion-item style="text-align: center;" [hidden]="solicitudes">No hay solicitudes registradas</ion-item>
	  	</ion-list>

	  	<ion-list *ngSwitchCase="'2'">
				<ion-item-sliding [@itemState]="solicitud.state" *ngFor="let solicitud of solicitudes | filter:{estado:'2'}">
					<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
						<ion-avatar class="icono" item-start>
							<img src="assets/images/iconos/solicitud_completada.svg">
						</ion-avatar>
						<h3 class="titulo">{{solicitud.nombre}}</h3>
						<p class="subtitulo" *ngIf="solicitud.estado == 0">Pendiente</p>
						<p class="subtitulo" *ngIf="solicitud.estado == 2">Completado</p>
						<ion-note style="font-size: 13px;" item-end>
							<span style="font-weight: bold;">ID: {{solicitud.id}}</span>
							<br>{{solicitud.hora}}<br>{{solicitud.fecha}}
						</ion-note>
					</button>
					<ion-item-options side="right">
						<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
							Borrar
						</button>
					</ion-item-options>
				</ion-item-sliding>
	 	</ion-list>
	</div>
</ion-content>
