// icomoon
@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?ls340j');
    src: url('../assets/fonts/icomoon.eot?ls340j#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?ls340j') format('truetype'),
    url('../assets/fonts/icomoon.woff?ls340j') format('woff'),
    url('../assets/fonts/icomoon.svg?ls340j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@mixin makeIcon($arg, $val) {
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-circle:before ,
    .ion-ios-#{$arg}-circle-outline:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-circle:before ,
    .ion-md-#{$arg}-circle-outline:before ,
    .ion-md-#{$arg}-outline:before  {
        font-family: "icomoon" !important;
        content: $val;
    }
}
 
// Add such entries for each icon:
//@include makeIcon(icon-balance, '\e900')
@include makeIcon(ajustes, '\e906');
@include makeIcon(mensaje, '\e908');
@include makeIcon(inicio, '\e90d');
@include makeIcon(llamar, '\e90f');
@include makeIcon(solicitudes, '\e911');
@include makeIcon(sin-adjunto, '\e910');
@include makeIcon(con-adjunto, '\e909');