// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
//@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "../assets/fonts/titillium_web.css";
$font-family-base: "Titillium Web", sans-serif;

@import "ionic.globals";
	
@import "icomoon";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//Variables modificadas

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  facebook:   #3D5A98,
  blanco:     #ffffff,
  tabsColor:  #f5f5f5,
  izzabellClaro: #4BB7D1
);

.ajustes:before {
  content: "\e906";
}

.inicio:before {
  content: "\e90d";
}

.mensaje:before {
  content: "\e908";
}

.llamar:before {
  content: "\e90f";
}

.sin-adjunto:before {
  content: "\e910";
}

.con-adjunto:before {
  content: "\e909";
}

.solicitudes:before {
  content: "\e911";
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-background-color: transparent;
$searchbar-ios-padding-horizontal: 0px;
$searchbar-ios-border-color: rgba(0, 0, 0, 0);
$fab-mini-size: 45px;

$tabs-ios-tab-min-height: 60px;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
