<ion-header>
  <ion-navbar>
    <ion-title>{{servicio.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="image" [ngStyle]="{'background-image': 'url(' + portada + ')'}">
  </div>

  <div padding>
    <p>{{servicio.descripcion_corta}}</p>
    <ion-grid>
      <ion-row wrap>
        <ion-col col-6 *ngFor="let caracteristica of caracteristicas">
          <ion-icon name="{{caracteristica.icono}}" class="icon"></ion-icon>
          &nbsp;{{caracteristica.descripcion}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div padding class="seccion2" [innerHtml]="servicio.descripcion1">
    
     <!-- <p style="text-align: center">Pricing</p>

    <ul>
      <li>Repair Services: Procing will be based on inspection</li>
      <li>Note :- Min. visiting charge of Rs. 249/ - adjustable against the final bill applicable</li>
    </ul>  -->
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button (click)="solicitar()" ion-button block>Pedir ahora</button>
  </ion-toolbar>
</ion-footer>
