<ion-content class="ion-content" no-bounce>
  <div id="fondo"></div>
  <!-- Contenido -->
  <div id="contenido" (click)="disableFocus()">
    <!-- Cabecera -->
    <header>
      <!-- Titulo -->
      <div id="titulo">
        <h1>¿En qué te puedo ayudar?</h1>
      </div>

      <!-- Cuadro de busqueda -->
      <div id="busqueda_cont" [@busqueda_view]="busqueda_state">
        <!-- Botones primarios -->
        <button class="icono" id="adjunto_icon" *ngIf="(press_state === 'nopress' || press_state === 'prevoz') && lastImage === null" (click)="presentActionSheet()">
          <ion-icon name="attach"></ion-icon>
        </button>
        <button class="icono" id="adjunto_icon" *ngIf="(press_state === 'nopress' || press_state === 'prevoz') && lastImage !== null" (click)="presentActionSheet()">
          <ion-icon name="image"></ion-icon>
        </button>
        <button class="icono" id="adjunto_icon" *ngIf="press_state === 'grabando' || press_state === 'send_prepare'" (click)="deleteNV();">
          <ion-icon name="close"></ion-icon>
        </button>
        <!-- Vistas de busqueda y contador de nota de voz -->
        <div id="cuadro_busqueda">
          <!-- Contador -->
          <div id="contador_view" [@voz_view]="press_state">
            <!-- Timer -->
            <div id="contador_nums">
              <div class="numero flex" id="mins">{{minutos}}</div>
              <div class="numero" id="puntos">:</div>
              <div class="numero flex" id="segundos">{{segundos}}</div>
            </div>
            <!-- Animacion de fondo -->
            <div id="contador_fondo">
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
              <div class="linea" [style.animation-play-state]="linea_anim_play_state"></div>
            </div>
          </div>
          <!-- Input de búsqueda -->
          <input type="text" #query_input [@input_view]="press_state" [(ngModel)]="query" (focus)="cambiarEstado();" (blur)="cambiarEstado();" (keyup)="cambiarEstado();" placeholder="Escribe aqui lo que necesitas" required>
        </div>
        <!-- Boton de microfono -->
        <button class="icono" id="mic_accion" *ngIf="estado_solicitud == 'voz' && press_state != 'send_prepare'" (press)="presionaVoz($event);" (touchmove)="toMove($event);" (touchend)="quitaVoz();">
          <ion-icon name="mic"></ion-icon>
        </button>
        <!-- Boton de reproducir -->
        <button class="icono" id="rep_accion" (click)="playNV()" *ngIf="estado_solicitud == 'voz' && press_state == 'send_prepare' && playing != true">
          <ion-icon name="play"></ion-icon>
        </button>
        <!-- Boton de parar audio -->
        <button class="icono" id="rep_accion" (click)="stopNV(true)" *ngIf="estado_solicitud == 'voz' && press_state == 'send_prepare' && playing == true">
          <ion-icon name="pause"></ion-icon>
        </button>
        <!-- Boton de enviar solicitud AUDIO -->
        <div id="container_audio" *ngIf="press_state == 'send_prepare'" [@container_audio]="press_state">
          <button class="icono" id="sol_audio_accion" *ngIf="press_state == 'send_prepare'" (click)="sendSolicitud();">
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
        </div>
        <!-- Boton de enviar solicitud TEXTO -->
        <button class="icono" id="sol_accion" *ngIf="estado_solicitud == 'texto'" [disabled]="btn_enviar" (click)="sendSolicitud();">
          <ion-icon name="md-send"></ion-icon>
        </button>
      </div>
    </header>

    <!-- Botones -->
    <div class="items_full_container">
      <div class="btn_container">
        <!-- Item -->
        <button class="item" (click)="clickItem('CategoriaServiciosPage');">
          <div class="img">
            <img src="assets/images/servicios/cableonda.png" alt="Cableonda">
          </div>
          <div class="titulo">Servicios</div>
        </button>

        <!-- Item -->
        <button class="item" (click)="clickItem('CategoriaPagosPage');">
          <div class="img">
            <img src="assets/images/servicios/licht.jpg" alt="Cableonda">
          </div>
          <div class="titulo">Pagos</div>
        </button>

        <!-- Item -->
        <button class="item" (click)="clickItem('CategoriaAsistenciaPage');">
          <div class="img">
            <img src="assets/images/servicios/digicel.png" alt="Cableonda">
          </div>
          <div class="titulo">En la calle</div>
        </button>

        <!-- Item -->
        <button class="item" (click)="clickItem('LoQueQuierasPage');">
          <div class="img">
            <img src="assets/images/servicios/aseo.png" alt="Pide lo que quieras">
          </div>
          <div class="titulo">Lo que quieras</div>
        </button>
        <!-- Item -->
        <button class="item" (click)="clickItem('MensajeriaInicioPage');">
          <div class="img">
            <img src="assets/images/servicios/panapass.jpg" alt="Cableonda">
          </div>
          <div class="titulo">Mensajería</div>
        </button>
        <!-- Item -->
        <button class="item" (click)="clickItem('CajeroPage');">
          <div class="img">
            <img src="assets/images/100dolar.png" alt="Cajero">
          </div>
          <div class="titulo">Cajero</div>
        </button>
        <!-- Item -->
        <button class="item" (click)="clickItem('SuperPage');">
          <div class="img">
            <img src="assets/images/100dolar.png" alt="Super">
          </div>
          <div class="titulo">Super</div>
        </button>
      </div>
    </div>
  </div>
</ion-content>