//Mixins
@import "../../assets/mixins";

page-inicio {
  .ion-content {
    background: rgb(237,235,235);
  }
  #voz_cont {
    position: absolute;
    width: 1px;
    height: 1px;
    background: linear-gradient(to right, #37b6eb, #47ccc9);
    z-index: 10;
    visibility: hidden;
    border-radius: 50%;
  }
  #contador {
    display: none;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 12;
    color: #fff;
    text-align: center;
    #contador_container {
      @include flexbox();
      @include flex-flow(row nowrap);
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      .numero.flex {
        @include flex(1);
        width: auto;
        height: auto;
        @include font("Titillium Web", 5em, 400, #fff);
        &#mins {
          text-align: right;
        }
        &#segundos {
          text-align: left;
        }
      }
      .numero#puntos {
        @include font("Titillium Web", 5em, 400, #fff);
      }
    }
  }
  #fondo {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 35%;
    background: linear-gradient(to right, #37b6eb, #47ccc9);
  }
  //Contenido
  #contenido {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    //Cabecera
    header {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 12% 3% 3% 3%;
      //Titulo
      #titulo {
        display: block;
        width: 100%;
        height: auto;
        padding: 0%;
        margin: 0%;
        //Mensaje
        h1 {
          display: block;
          width: 100%;
          height: auto;
          margin: 3% 0% 3% 0%;
          padding: 0px;
          @include font("Titillium Web", 2em, 600, #fff);
        }
      }
      //Cuadro de busqueda -> Contenedor
      #busqueda_cont {
        display: block;
        width: 100%;
        height: auto;
        margin: 6% 0% 0.5% 0%;
        padding: 0px;
        background: rgba(0,0,0,0.05);
        @include flexbox();
        @include flex-flow(row nowrap);
        align-items: stretch;
        position: relative;
        .icono {
          @include flex(1);
          height: auto;
          background: rgba(0,0,0,0);
          @include font("Titillium Web", 1.7em, 400, #fff);
          margin: 0%;
          padding: 2% 3% 2% 3%;
        }
        #adjunto_icon {
          padding: 0% 4% 0% 5%;
          margin: 2% 0%;
          border-right: 0.75px solid #fff;
        }
        #rep_accion, #mic_accion {
          z-index: 2;
        }
        #sol_accion {
          z-index: 2;
        }
        #container_audio {
          z-index: 1;
          position: absolute;
          top: 0%;
          right: 0%;
          height: auto;
          background: rgba(0,0,0,0.5);
          padding: 1% 2% 1% 2%;
          visibility: hidden;
        }
        #sol_audio_accion {
          z-index: 1;
          margin-top: 250%;
        }
        #cuadro_busqueda {
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 0%;
          position: relative;
          & input {
            display: block;
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 2% 3%;
            background: rgba(0,0,0,0);
            @include font("Titillium Web", 1.25em, 400, #F5F5F5);
            border: 0px;
            border-radius: 2px;
            visibility: visible;
            &::placeholder {
              color: rgba(255,255,255,0.5);
            }
          }
          #contador_view {
            @include flexbox();
            @include flex-flow(row nowrap);
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 100%;
            background: rgba(0,0,0,0);
            z-index: 1;
            visibility: hidden;
            #contador_nums {
              @include flex(1);
              @include flexbox();
              @include flex-flow(row nowrap);
              height: auto;
              margin: 0px;
              padding: 5%;
              .numero.flex {
                @include flex(1);
                width: auto;
                height: auto;
                @include font("Titillium Web", 1.2em, 400, #fff);
                &#mins {
                  text-align: right;
                }
                &#segundos {
                  text-align: left;
                }
              }
              .numero#puntos {
                @include font("Titillium Web", 1.2em, 400, #fff);
              }
            }
            #contador_fondo {
              @include flex(5);
              @include flexbox();
              @include flex-flow(row nowrap);
              align-items: center;
              max-width: 85%;
              height: 100%;
              margin: 0% 3% 0% 0%;
              .linea {
                @include flex(1);
                width: auto;
                margin: 1%;
                background: rgba(255,255,255,0.5);
              }
              .linea:nth-child(odd) {
                height: 50%;
                animation: lineas_odd 0.18s infinite;
              }
              .linea:nth-child(even) {
                height: 20%;
                animation: lineas_even 0.18s infinite;
              }
            }
          }
        }
      }
    }
    //Botones
    .items_full_container {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0% 3%;
      transform: translate(0%, 20%);
      &:nth-child(1), &:nth-child(2) {
        animation: init_items 0.4s ease-out;
        animation-delay: 0s;
        animation-fill-mode: forwards;
      }
      &:nth-child(3), &:nth-child(4) {
        animation: init_items 0.4s ease-out;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
      }
      &:nth-child(5), &:nth-child(6) {
        animation: init_items 0.4s ease-out;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
      }
      .btn_container {
        @include flexbox();
        @include flex-flow(row wrap);
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        .item {
          @include flex(1);
          @include flex-basis(48.5%);
          height: auto;
          margin: 1.5% 0%;
          padding: 3%;
          background: #fff;
          border-radius: 3px;
          border: 0px solid #fff;
          box-shadow: 0px 2px 4px 1px rgba(201,201,201,0.8);
          &:nth-child(odd) {
            margin-right: 1.5%;
          }
          &:nth-child(even) {
            margin-left: 1.5%;
          }
          .img {
            display: block;
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: auto;
            text-align: center;
            img {
              width: 70%;
              height: auto;
              margin: 0px;
              padding: 0px;
            }
          }
          .titulo {
            display: block;
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 0px;
            text-align: center;
            @include font("Titillium Web", 1em, 400, #3f3f3f)
          }
        }
      }
    }
  }
}

@keyframes lineas_odd {
  0% {
    height: 50%;
  }
  50% {
    height: 20%;
  }
  100% {
    height: 50%;
  }
}

@keyframes lineas_even {
  0% {
    height: 20%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 20%;
  }
}

@keyframes init_items {
  100% {
    transform: translate(0%, 0%);
  }
}