
<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-list-header>Dirección de envío:</ion-list-header>
    <ion-item>
      <ion-icon name="ios-home-outline" item-start></ion-icon>
      <h3>Dirección</h3>
      <p *ngIf="tipo==5">{{direccionSolicitud.formatted_address}}</p>
      <p *ngIf="tipo==6">{{direccionActual.formatted_address}}</p>
    </ion-item>

    <ion-item *ngIf="tipo==5">
      <ion-icon name="logo-usd" item-start></ion-icon>
      <h3>Costo del envío: $7.99 </h3>
      <p>Distancia a recorrer: {{distancia | number : '1.2-2'}} km</p>
    </ion-item>

    <ion-item *ngIf="tipo==5">
      <ion-icon name="ios-alert-outline" item-start></ion-icon>
      <h3>Solicitud</h3>
      <p>{{solicitud}}</p>
    </ion-item>

    <ion-list-header>Modo de pago:</ion-list-header>
    
    <div padding>
      <button *ngIf="tipo==5" ion-button color="izzabellClaro" block (click)="generarSolicitud(0)" icon-left>
        <ion-icon name="ios-cash-outline"></ion-icon>
        Efectivo
      </button>
      <br>
      <button ion-button color="izzabellClaro" block (click)="seleccionarTarjeta()" icon-left>
        <ion-icon name="ios-card-outline"></ion-icon>
        Tarjeta de crédito
      </button>
    </div>
  
  </ion-list>
</ion-content>
