<!--
  Generated template for the EditarValorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Valor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
    	<ion-label stacked>Nuevo valor</ion-label>
    	<ion-input type="text" [(ngModel)]="valor"></ion-input>
  	</ion-item>
	</ion-list>

	<div padding>
	  <button ion-button block full (click)="editarValor()">Guardar</button>
	</div>
</ion-content>
