<ion-header>
  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <!-- Flecha retroceder -->
      <button ion-button class="back_btn" (click)="clickBack();">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="contenido">

  <!-- Botones -->
  <button (click)="clickMonto('20');">20</button>
  <button (click)="clickMonto('20');">50</button>
  <button (click)="clickMonto('20');">100</button>
  <button (click)="clickMonto('20');">200</button>
  <button (click)="clickMonto('20');">300</button>
  <button (click)="clickMonto('Otro');">Otro</button>

</ion-content>
