//Mixins
@import "../../assets/mixins";

page-cajero {
	.toolbar-background {
		background: transparent !important;
		border-color: transparent !important;
		color: #fff !important;
	}

	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
		color: #fff !important;
	}

	.toolbar-background-ios {
		background: transparent !important;
		border-color: transparent !important;
		color: #fff !important;
	}
	.back_btn {
		color: #fff;
	}
	#contenido {
		background: linear-gradient(to right, #37B6EB, #47CCC9);
		button {
			background: red;
			padding: 5%;
		}
	}
}
