<!--
  Generated template for the LoginSocialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <p padding>Escoja una cuenta</p>
  <ion-list>
    <ion-item detail-push (click)="doFbLogin();">
      Facebook
    </ion-item>
    <ion-item detail-push>
      Google
    </ion-item>
  </ion-list>
</ion-content>
