<ion-header>
  <ion-navbar>
    <ion-title>
      Ingrese una dirección
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionFocus)="cambiarState($event)" (ionInput)="updateSearch()" (ionCancel)="cancelar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" (pan)="panEvent($event)"></div>
  <div [@flyInOut]="flyInOutState" style="position: absolute; top: 0; width: 100%; height: 100%; background-color: #fff;">
    <ion-list>
      
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
        <ion-icon name="ios-pin-outline" item-start></ion-icon>
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div> 
  
</ion-content>

<ion-footer *ngIf="!ocultar">
  <ion-toolbar class="toolbar-bt">
    <button ion-button block (click)="getUbicacion();">Listo</button>
  </ion-toolbar>
</ion-footer>
