page-autocomplete {
    .scroll-content {
      height: 100%
    }
 
    #map {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .toolbar-bt {
      .toolbar-background, .toolbar-background-md, .toolbar-background-ios {
        background: transparent;
      }

      .tabbar:before {
        background-image: transparent;
      }

      .tabbar-md:before {
        background-image: transparent;
      }
      
    }

    .footer-ios .toolbar-background-ios { 
      border: none;
    }

    #map:after {
        width: 40px;
        height: 40px;
        display: block;
        content: ' ';
        position: absolute;
        top: 50%; left: 50%;
        margin: -40px 0 0 -22px;
        background: url('http://www.izzabell.com/pin.png');
        background-size: 40px 40px; /* Since I used the HiDPI marker version this compensates for the 2x size */
        pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
    }

    .pin {
        width: 10px;
        height: 10px;
        position: relative;
        background: rgba(5, 124, 255, 1);    
        border: 2px solid #FFF;
        border-radius: 50%;
        z-index: 1000;
        margin: -5px 0 0 -5px;
    }

    .pin-effect {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -50%;
        left: -50%;
        margin: -47px 0 0 -47px;
        display: block;
        background: rgba(5, 124, 255, 0.6);
        border-radius: 50%;
        opacity: 0;
        animation: pulsate 2400ms ease-out infinite;
    }

    @keyframes pulsate {
        0% {
        transform: scale(0.1);
        opacity: 0;
        }
        50% {
        opacity: 1;
        }
        100% {
        transform: scale(1.2);
        opacity: 0;
        }
    }
}
