<!--
  Generated template for the AyudaTerminosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terminis y condiciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Terminos y condiciones en la app
</ion-content>
