<ion-list radio-group [(ngModel)]="estado_sol" (ionChange)="changeEstado()" class="popover-page">
  <ion-item class="text-athelas">
    <ion-label>Pendientes</ion-label>
    <ion-radio value="0"></ion-radio>
  </ion-item>
  <ion-item class="text-charter">
    <ion-label>Completadas</ion-label>
    <ion-radio value="1"></ion-radio>
  </ion-item>
</ion-list>
