<ion-header>

  <ion-navbar>
    <ion-title>Categoria</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <div class="cabecera" padding>
    <label>Lorem ipsum lorem</label>
  </div>
  
  <div class="categoria">

    <ion-grid no-padding>
      <ion-row wrap no-padding>
        <ion-col col-6 class="columna" *ngFor="let producto of productos">
          <div class="producto">
            <div class="imagen" (click)="cargarProducto(producto)">
              <img [src]="producto.imagen">
            </div>
            <div class="descripcion" (click)="cargarProducto(producto)">
              <p text-wrap class="desc">{{producto.descripcion}}</p>
              <p class="precio">${{producto.precio}}</p>
              <p class="precio-tachado">${{producto.precioDescuento}}</p>
            </div>
             <div class="agregar">
              <button ion-button clear icon-only no-padding (click)="add(producto)">
                <ion-icon name="ios-add-outline"></ion-icon>
              </button>
            </div> 
            <div [@fade]="producto.add" class="agregar-cant">
              <div>
                <button ion-button clear icon-only no-padding (click)="menos(producto)">
                  <ion-icon name="ios-remove-outline"></ion-icon>
                </button>
              </div>
              <div>
                <label style="font-size: 18px;">{{producto.cantidad}}</label>
              </div>
              <div>
                <button ion-button clear icon-only no-padding (click)="mas(producto)">
                  <ion-icon name="ios-add-outline"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
