page-super-categoria {

    .bg {
        background: #EEEEEE;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .cabecera {
        margin: 0;
        padding: 0;
        height: 50px;
        background-color: #fff;
        box-shadow: 0 0 1em #c1c1c1;
    }

    .categoria {
        background-color: #fff;
        margin-top: 10px;
        box-shadow: 0 0 1em #c1c1c1;

        .columna {
            border-left:1px solid #c1c1c1; 
            border-bottom: 1px solid #c1c1c1;
            padding: 0;
            margin: 0;
        }

        .producto {
            position: relative;
            margin-top: 5px;
            // margin-bottom: 5px;
            height: 200px; 
            width: 100%;
        }

        .imagen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100px !important;
            margin: 0 auto;
        }

        .imagen img {
            margin: 0 auto; 
            width: auto !important; 
            height: 80px !important; 
        }

        .descripcion {
            box-sizing: border-box;
            margin: 0 auto;
            width: 140px;
            height: 100px;
        }

        .descripcion .desc {
            line-height: 1;  
            margin: 0; 
            padding: 0; 
        }

        .descripcion .precio {
            color: red;
            line-height: 1;  
            margin: 10px 0 0 0; 
            padding: 0; 
        }

        .descripcion .precio-tachado {
            line-height: 1; 
            margin: 0; 
            padding: 0; 
            text-decoration:line-through;
        }

        .agregar {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 48px;

            button {
                padding: 0;
                margin: 0;
            }
        }

        .agregar-cant {
            background: #EEEEEE;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 48px;

            div {
                padding: 0;
                margin: 0;
                display: inline-block;
                width: 32%;
                text-align: center;

                button {
                    padding: 0;
                    margin: 0;
                }
            }
        }
        
    }
}
