//Fuentes Importadas
//---Roboto
@import "../../assets/fonts/roboto.css";

//Mixins
@import "../../assets/mixins.scss";

page-afiliados {
    .main_content {
    background-color: rgba(231, 235, 238, 1);
    //---
    .header_img_container {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      img {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
      }
    }
    //---
    .cont_txt {
      display: block;
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px 10%;
      h1 {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.7em;
        color: rgba(60, 167, 198, 1);
        line-height: 1em;
      }
      p {
        display: block;
        width: 100%;
        height: auto;
        margin: 10% 0px;
        padding: 0px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1em;
        color: rgba(74, 93, 102, 1);
      }
      .btn_afiliate {
        display: block;
        width: 100%;
        height: auto;
        margin: 0px auto 10% auto;
        padding: 5%;
        font-family: "Roboto", sans-serif;
        font-size: 1.4em;
        font-weight: 400;
        background: rgba(62, 169, 198, 1);
        color: #fff;
        @include border-radius(4px);
      }
    }
    //---
  }
}
