<ion-header>
  <ion-navbar>
    <ion-title>Afíliate</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="main_content">

  <!-- Imagen de Cabecera -->
  <div class="header_img_container">
    <img src="assets/images/afiliate-img.png" alt="Afíliate a Izzabell">
  </div>
  <!-- //Imagen de Cabecera -->

  <!-- Contenedor con padding -->
  <div class="cont_txt">
    <!-- Texto principal -->
    <h1>Trabaja con Izzabell y ayuda a otros a cumplir sus necesidades</h1>

    <!-- Texto secundario -->
    <p>Ofrece tus productos o servicios a nuestros usuarios a través de Izzabell. Te conectamos con quienes necesitan soluciones de forma rápida y sin complicaciones. Empieza a disfrutar los beneficios de ser parte de nuestra plataforma.</p>

    <!-- Boton Afiliate -->
    <button class="btn_afiliate" [navPush]="pag_Afiliate_Form">Afíliate ahora</button>
  </div>
  <!-- //Contenedor con padding -->

</ion-content>

