<ion-header>
  <ion-navbar>
    <ion-title>Detalle de solicitud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">

	<div class="seccion">
		<ion-list no-lines>
			<ion-item>
				Estatus de Solicitud 
				<button (click)="showConfirm()" *ngIf="solicitud.estado == 0" ion-button outline item-end icon-left color="danger">
					Cancelar
				</button>
			</ion-item>
				<br>
				<ul class="progress-indicator">
						<li [ngClass]="{'completed' : solicitud.estado == 0 || solicitud.estado == 1 || solicitud.estado == 2}">
								<span class="bubble"></span>
								{{solicitud.hora}} <br><small style="color: black; font-size: 13px; text-transform: none;">Recibida</small>
						</li>
						<li [ngClass]="{'completed' : solicitud.estado == 1 || solicitud.estado == 2}">
								<span class="bubble"></span>
								{{solicitud.hora_respondida}} <br><small style="color: black; font-size: 13px; text-transform: none;">Respondida</small>
						</li>
						<li [ngClass]="{'completed' : solicitud.estado == 2}">
								<span class="bubble"></span>
								{{solicitud.hora_completada}} <br><small style="color: black; font-size: 13px; text-transform: none;">Completada</small>
						</li>
				</ul>
		</ion-list>
	</div>
	
	<div class="seccion">
		<ion-list no-lines>
			<ion-item>
				Información de solicitud
				<button (click)="showConfirm2()" *ngIf="solicitud.estado == 2" ion-button outline item-end icon-left color="izzabellClaro">
					Reordenar
				</button>
			</ion-item>

			<section style="padding-left: 40px; padding-right: 40px;">
				<p>ID: {{solicitud.id}}</p>
				<p>Fecha: {{solicitud.fecha}}</p>
				<p>Hora: {{solicitud.hora}}</p>
				<p>Solicitado: {{solicitud.nombre}}</p>
				
				<!-- <ion-list>
					<ion-item >
						<button expandable ion-button (click)="comentariosModal()" clear>Añadir comentarios</button>
					</ion-item>
				</ion-list> -->
			</section>
		</ion-list>

		<ion-card>
			<ion-card-header>
				Deje sus comentarios aquí
			</ion-card-header>
			<ion-card-content>
				<div style="margin: 0 auto; text-align: center;" *ngIf="cargaComentarios">
					<ion-spinner name="crescent"></ion-spinner>
				</div>

				<div class="comentario_der" *ngFor="let comentario of comentarios">
					<ion-icon name="image" *ngIf="comentario.adjunto !== 'null'" item-start></ion-icon>
					{{comentario.comentario}}
				</div>
			</ion-card-content>
			<div style="background-color: #f5f5f5; ">
				<form #registerForm="ngForm">
					<ion-grid no-padding [ngClass]="{tecladoActivo: abierto}">
						<ion-row align-items-center>
						
							<ion-col class="buscar">
									<ion-grid no-padding>
										<ion-row align-items-center>
											<ion-col col-auto>
												<button style="color: #B0BEC5;" *ngIf="lastImage === null" clear ion-button icon-only (click)="presentActionSheet()">
													<ion-icon name="sin-adjunto"></ion-icon>
												</button>
												<button color="izzabellClaro" color="izzabellClaro" *ngIf="lastImage !== null" clear ion-button icon-only (click)="presentActionSheet()">
													<ion-icon name="con-adjunto"></ion-icon>
												</button>
											</ion-col>
											<ion-col>
												<ion-input class="buscar2" name="search" [placeholder]="placeholderText" [(ngModel)]="query" required></ion-input>
											</ion-col>
										</ion-row>
									</ion-grid>
							</ion-col>
					
							<ion-col col-auto>
								<button (mousedown)="$event.preventDefault();" color="izzabellClaro" [disabled]="!registerForm.form.valid" ion-fab mini clear class="send" (click)="addComentario(query)" >
								<ion-icon name="md-send"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
			</div>
		</ion-card>
	</div>

	<section class="seccion">
		
		<ion-list no-lines>
			<ion-item>
				¿Cómo calificas este servicio?
			</ion-item>
			<div style="text-align: center">
				<rating [(ngModel)]="rate" 
					readOnly="{{readOnly}}"
					max="5"
					emptyStarIconName="star-outline"
					halfStarIconName="star-half"
					starIconName="star"
					nullable="false"
					(ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
				</rating>
			</div>
		</ion-list>
	</section>

</ion-content>
