page-mensajeria-final {
  #contenido {
    background: linear-gradient(to right, #37B6EB, #47CCC9);
    #center {
      display: block;
      width: calc(100% - 32px);
      height: auto;
      margin: 0px 16px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -50%);
      text-align: center;
      #imagen {
        width: 60%;
        height: auto;
        margin: 0px;
        padding: 0px;
      }
      p {
        display: block;
        margin: 16px 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        &#titulo {
          @include font("Titillium Web", 1.8em, 700, #fff);
        }
        &#mensaje {
          @include font("Titillium Web", 1.3em, 400, #fff);
        }
      }
      #seguir {
        background: #fff;
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 16px;
        @include font("Titillium Web", 1.6em, 700, #37B6EB);
        box-shadow: 0px 2px 4px 0px rgba(120,120,120, 0.5);
        border-radius: 2px;
      }
    }
  }
}
