<ion-content id="contenido">

  <!-- Contenido centreado -->
  <div id="center">
    <!-- Imagen -->
    <img id="imagen" src="assets/images/like.svg" alt="Good Job!">

    <!-- Titulo -->
    <p id="titulo">¡Solicitud Enviada!</p>

    <!-- Mensaje -->
    <p id="mensaje">Un mensaje gracioso para que el usuario se distraiga y no note el tiempo de espera.</p>

    <!-- Boton Realizar -->
    <button id="seguir" (click)="clickSolicitud();">Ir a Solicitud</button>
  </div> 

</ion-content>
