//Border-radius
@mixin border-radius($valor) {
  -webkit-border-radius: $valor;
  -moz-border-radius: $valor;
  border-radius: $valor;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin flex-basis($valor) {
  -webkit-flex-basis: $valor;
  flex-basis: $valor;
}
@mixin font($fuente, $em, $numeracion, $color) {
  font-family: $fuente, sans-serif;
  font-weight: $numeracion;
  font-size: $em;
  color: $color;
}