page-super {

    .bg {
        background: #EEEEEE;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .categorias {
        background-color: #fff;
        height:130px; 
        box-shadow: 0px 3px 3px #c1c1c1;
    }

    ion-scroll[scrollX] {
        white-space: nowrap;

        .scroll-item {
            display: inline-block; 
            vertical-align: middle;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .scroll-item:not(:first-child){
            border-left:1px solid #c1c1c1;
        }

        .contenedor {
            padding: 0px 45px 0px 45px; 
            height: 120px; 
            width: 160px
        }

        .imagen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 80px;
            
        }

        .imagen img {
            margin: 0 auto; 
            width: 70px; 
            height:auto; 
        }

        .texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40px;
        }

        .texto p {
            line-height: 1; 
            text-align: center; 
            width: 70px !important; 
            margin: 0; 
            padding: 0; 
        }
    }

    .categoria {
        background-color: #fff;
        margin-top: 20px;
        box-shadow: 0 0 1em #c1c1c1;

        .categoria-header {
            height: 50px;
        }

        .titulo {
            position: absolute;
            width: 50%;  
            margin-left: 15px;
        }

        .mas {
            position: absolute;
            width: 50%;
            left: 50%;
            text-align: right;
            
        }

        .mas button {
            // margin-right: 15px;
        }

        .seccion-categoria {
            height:210px;
        }

        .scroll-producto {
            display: inline-block; 
            vertical-align: middle;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .producto {
            height: 210px; 
            width: 160px;
        }

        .imagen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 110px !important;
        }

        .imagen img {
            margin: 0 auto; 
            width: auto !important; 
            height: 110px !important; 
        }

        .descripcion {
            margin: 12px auto;
            box-sizing: border-box;
            width: 140px;
            height: 100px;
        }

        .descripcion .desc {
            line-height: 1;  
            margin: 0; 
            padding: 0; 
        }

        .descripcion .precio {
            color: red;
            line-height: 1;  
            margin: 10px 0 0 0; 
            padding: 0; 
        }

        .descripcion .precio-tachado {
            line-height: 1; 
            margin: 0; 
            padding: 0; 
            text-decoration:line-through;
        }
        
    }
}
