<ion-header>

  <ion-navbar>
    <ion-title>Mini Super</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <ion-scroll scrollX class="categorias">

    <div class="scroll-item">
      <div class="contenedor">
        <div class="imagen">
          <img src="assets/images/categorias/grocery.svg">
        </div>
        <div class="texto">
          <p>Grocery</p>
        </div>
      </div>
    </div>
    <div class="scroll-item">
      <div class="contenedor">
        <div class="imagen">
          <img src="assets/images/categorias/cleaning.svg">
        </div>
        <div class="texto">
          <p >Household <br>Supplies</p>
        </div>
      </div>
    </div>
    <div class="scroll-item">
      <div class="contenedor">
        <div class="imagen">
          <img src="assets/images/categorias/beauty.svg">
        </div>
        <div class="texto">
          <p text-wrap>Beauty & Health</p>
        </div>
      </div>
    </div>
    <div class="scroll-item">
      <div class="contenedor">
        <div class="imagen">
          <img src="assets/images/categorias/electronic.svg">
        </div>
        <div class="texto">
          <p text-wrap>Electronics</p>
        </div>
      </div>
    </div>
    <div class="scroll-item">
      <ion-card>
        <ion-card-header>
          Card Header
        </ion-card-header>

        <ion-card-content>
          <!-- Add card content here! -->
        </ion-card-content>
      </ion-card>

    </div>
    <div class="scroll-item">
      <ion-card>
        <ion-card-header>
          Card Header
        </ion-card-header>

        <ion-card-content>
          <!-- Add card content here! -->
        </ion-card-content>
      </ion-card>
    </div>
  </ion-scroll>

  <div class="categoria">
    <div class="categoria-header">
      <div class="titulo">
        <p>Beverages</p>
      </div>
      <div class="mas">
        <button ion-button clear (click)="categoria()">MÁS</button>
      </div>  
    </div>

    <ion-scroll scrollX class="seccion-categoria">

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>
    </ion-scroll>
  </div>

  <div class="categoria">
    <div class="categoria-header">
      <div class="titulo">
        <p>Beverages</p>
      </div>
      <div class="mas">
        <button ion-button clear>MÁS</button>
      </div>  
    </div>

    <ion-scroll scrollX class="seccion-categoria">

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>

      <div class="scroll-producto">
        <div class="producto">
          <div class="imagen">
            <img src="assets/images/productos/airwick.png">
          </div>
          <div class="descripcion">
            <p text-wrap class="desc">Airwick Scented Oils 1 Warmer + Refills</p>
            <p class="precio">$13.38</p>
            <p class="precio-tachado">$12.38</p>
          </div>
        </div>
      </div>
    </ion-scroll>
  </div>

</ion-content>
