<ion-header>

  <ion-navbar>
    <ion-title>Información de solicitud</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <div style="background-color: #fff;" padding>
    <p>ID: {{solicitud.id}}</p>
		<p>Fecha: {{solicitud.fecha}}</p>
		<p>Hora: {{solicitud.hora}}</p>
		<p>Solicitado: {{solicitud.nombre}}</p>
  </div>

  <div style="margin: 0 auto; text-align: center;" *ngIf="carga">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div padding>
    <p *ngIf="!comentarios" style="margin: 0 auto;">No se han agregado comentarios a esta solicitud</p>
    
    <ion-card *ngFor="let comentario of comentarios">
      <ion-list>
        <ion-item>
          <ion-icon name="image" *ngIf="comentario.adjunto" item-start></ion-icon>
          <span text-wrap>{{comentario.comentario}}></span>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  
</ion-content>

<ion-footer>
  <form #registerForm="ngForm">
		<ion-grid no-padding [ngClass]="{tecladoActivo: abierto}">
			<ion-row align-items-center>
			
				<ion-col class="buscar">
						<ion-grid no-padding>
							<ion-row align-items-center>
								<ion-col col-auto>
									<button style="color: #B0BEC5;" *ngIf="lastImage === null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="sin-adjunto"></ion-icon>
									</button>
									<button color="izzabellClaro" color="izzabellClaro" *ngIf="lastImage !== null" clear ion-button icon-only (click)="presentActionSheet()">
										<ion-icon name="con-adjunto"></ion-icon>
									</button>
								</ion-col>
								<ion-col>
									<ion-input class="buscar2" name="search" [placeholder]="placeholderText" [(ngModel)]="query" required></ion-input>
								</ion-col>
							</ion-row>
						</ion-grid>
				</ion-col>
		
				<ion-col col-auto>
					<button (mousedown)="$event.preventDefault();" color="izzabellClaro" [disabled]="!registerForm.form.valid" ion-fab mini clear class="send" (click)="addComentario(query)" >
					<ion-icon name="md-send"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-footer>
