page-solicitud-adicionales {
    .bg {
        background: #ECEFF1;
        bottom: 0px;
        margin-bottom: 0px;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    ion-icon {
        font-size: 38px; //Preferred size here
    }

}
