$segment-button-ios-height: 2rem;

page-solicitudes {
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .icono {
        min-width: 50px !important;
        min-height: 50px !important;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .titulo {
        font-weight: bold; 
        font-size: 18px;
        color: black; 
    }

    .subtitulo {
        font-size: 10px;
        padding-bottom: 4px; 
        padding-top: 1px;
    }
}
