<ion-header>
	<ion-toolbar>
    <ion-title>Mis solicitudes</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<!--<div padding>
	  <ion-segment [(ngModel)]="estado">
	    <ion-segment-button value="0">
	      Pendientes
	    </ion-segment-button>
	    <ion-segment-button value="2">
	      Completadas
	    </ion-segment-button>
	  </ion-segment>
	</div>-->
	<div padding>
		<ion-segment color="izzabellClaro" [(ngModel)]="estado">
			<ion-segment-button (click)="cargarServicios()" value="0">
        Servicios
      </ion-segment-button>
      <ion-segment-button (click)="cargarSolicitudes()" value="1">
        Solicitudes
      </ion-segment-button>
      <ion-segment-button (click)="cargarPagos()" value="2">
        Pagos
      </ion-segment-button>
    </ion-segment>
	</div>

	<div [ngSwitch]="estado">

		<!-- **********************************ESTADO 0*******************************-->
			<ion-list *ngSwitchCase="'0'">
				<div style="margin: 0 auto; text-align: center;" *ngIf="carga1">
					<ion-spinner name="crescent"></ion-spinner>
				</div>
				<!-- Si esta pendiente la solicitud-->
				<ng-container *ngIf="estado_sol == '0'">
					<ion-item-sliding *ngFor="let servicio of servicios | filter:{estado:'0'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" *ngIf="servicio.estado == 0" item-start>
								<img src="assets/images/iconos/solicitud_pendiente.svg">
							</ion-avatar>
							<ion-avatar class="icono" *ngIf="servicio.estado == 2" item-start>
								<img src="assets/images/iconos/solicitud_completada.svg">
							</ion-avatar>
							<h3 class="titulo">{{servicio.nombre}}</h3>
							<p class="subtitulo">{{servicio.descripcion_corta}}</p>
							<ion-note style="font-size: 13px;" item-end>
								<span style="font-weight: bold;">ID: {{servicio.id_solicitud}}</span>
								<br>{{servicio.hora}}
								<br>{{servicio.fecha}}
							</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>
				<!-- Si esta completada la solicitud-->
				<ng-container *ngIf="estado_sol == '1'">
					<ion-item-sliding *ngFor="let servicio of servicios | filter:{estado:'2'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" *ngIf="servicio.estado == 0" item-start>
								<img src="assets/images/iconos/solicitud_pendiente.svg">
							</ion-avatar>
							<ion-avatar class="icono" *ngIf="servicio.estado == 2" item-start>
								<img src="assets/images/iconos/solicitud_completada.svg">
							</ion-avatar>
							<h3 class="titulo">{{servicio.nombre}}</h3>
							<p class="subtitulo">{{servicio.descripcion_corta}}</p>
							<ion-note style="font-size: 13px;" item-end>
								<span style="font-weight: bold;">ID: {{servicio.id_solicitud}}</span>
								<br>{{servicio.hora}}
								<br>{{servicio.fecha}}
							</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>
			</ion-list>
					
			<!-- **********************************ESTADO 1*******************************-->

	  	<ion-list *ngSwitchCase="'1'">
				<div style="margin: 0 auto; text-align: center;" *ngIf="carga2">
					<ion-spinner name="crescent"></ion-spinner>
				</div>
				<!-- Si esta pendiente la solicitud-->
				<ng-container *ngIf="estado_sol == '0'">
					<ion-item-sliding [@itemState]="solicitud.state" *ngFor="let solicitud of solicitudes | filter:{estado:'0'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" item-start>
								<img src="assets/images/iconos/solicitud_pendiente.svg">
							</ion-avatar>
							<h3 class="titulo">{{solicitud.nombre}}</h3>
							<p class="subtitulo" *ngIf="solicitud.estado == 0">Pendiente</p>
							<p class="subtitulo" *ngIf="solicitud.estado == 2">Completado</p>
							<ion-note style="font-size: 13px;" item-end><span style="font-weight: bold;">ID: {{solicitud.id}}</span><br>{{solicitud.hora}}<br>{{solicitud.fecha}}</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>

				<!-- Si esta completada la solicitud-->
				<ng-container *ngIf="estado_sol == '1'">
					<ion-item-sliding [@itemState]="solicitud.state" *ngFor="let solicitud of solicitudes | filter:{estado:'2'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" item-start>
								<img src="assets/images/iconos/solicitud_completada.svg">
							</ion-avatar>
							<h3 class="titulo">{{solicitud.nombre}}</h3>
							<p class="subtitulo" *ngIf="solicitud.estado == 2">Completado</p>
							<ion-note style="font-size: 13px;" item-end><span style="font-weight: bold;">ID: {{solicitud.id}}</span><br>{{solicitud.hora}}<br>{{solicitud.fecha}}</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>
				
				<ion-item style="text-align: center;" [hidden]="solicitudes">No hay solicitudes registradas</ion-item>
	  	</ion-list>

			<!-- **********************************ESTADO 2*******************************-->

	  	<ion-list *ngSwitchCase="'2'">
				<div style="margin: 0 auto; text-align: center;" *ngIf="carga3">
					<ion-spinner name="crescent"></ion-spinner>
				</div>

				<!-- Si esta pendiente la solicitud-->
				<ng-container *ngIf="estado_sol == '0'">
					<ion-item-sliding *ngFor="let pago of pagos | filter:{estado:'0'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" item-start>
								<img [src]="pago.imagen">
							</ion-avatar>
							<h3 class="titulo">{{pago.nombre}}</h3>
							<p class="subtitulo">{{pago.descripcion}}</p>
							<ion-note style="font-size: 13px;" item-end>
								<br>{{pago.hora}}<br>{{pago.fecha}}
							</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>

				<!-- Si esta completada la solicitud-->
				<ng-container *ngIf="estado_sol == '1'">
					<ion-item-sliding *ngFor="let pago of pagos | filter:{estado:'2'}">
						<button ion-item (click)="goToSolicitudPage($event, solicitud)" detail-push>
							<ion-avatar class="icono" item-start>
								<img [src]="pago.imagen">
							</ion-avatar>
							<h3 class="titulo">{{pago.nombre}}</h3>
							<p class="subtitulo">{{pago.descripcion}}</p>
							<ion-note style="font-size: 13px;" item-end>
								<br>{{pago.hora}}<br>{{pago.fecha}}
							</ion-note>
						</button>
						<ion-item-options side="right">
							<button (click)="borrarSolicitud(solicitud)" ion-button color="danger">
								Borrar
							</button>
						</ion-item-options>
					</ion-item-sliding>
				</ng-container>
	 		</ion-list>
	</div>
</ion-content>
