<ion-header>

  <ion-navbar>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">

  <!-- Avatar + Nombre -->
	<ion-list class="seccion">
		<button ion-item detail-push (click)="goToEditarCuentaPage()">

      <!-- Imagen -->
      <ion-avatar class="avatar" item-start>
        <img src="{{usuario.picture}}">
      </ion-avatar>

      <!-- Nombre -->
      <h1>{{nombre_mostrar}}</h1>

      <!--<h3>{{usuario.telefono}}</h3>
      <p>{{usuario.email}}</p>-->
    </button>
	</ion-list>

  <!-- Direcciones -->
	<ion-list class="seccion2">

    <!-- Casa -->
		<button ion-item detail-push>
		  <ion-avatar class="icono" item-start>
		    <img src="assets/images/iconos/addHome.svg">
		  </ion-avatar>
		  <ion-input (click)="showAddressModal()" disabled="true" [(ngModel)]="usuario.direccion_casa" type="text" placeholder="Ingrese una dirección"></ion-input>
	  </button>

    <!-- Trabajo -->
	  <button ion-item detail-push>
		  <ion-avatar class="icono" item-start>
		    <img src="assets/images/iconos/addWork.svg">
		  </ion-avatar>
			<ion-input (click)="showAddressModal2()" disabled="true" [(ngModel)]="usuario.direccion_trabajo" type="text" placeholder="Ingrese una dirección"></ion-input>
	  </button>

    <!-- Otro -->
		<button ion-item detail-push>
		  <ion-avatar class="icono" item-start>
		    <img src="assets/images/iconos/addAddress.svg">
		  </ion-avatar>
			<ion-input (click)="showAddressModal3()" disabled="true" [(ngModel)]="usuario.direccion_otro" type="text" placeholder="Ingrese otra dirección"></ion-input>
	  </button>

	</ion-list>

  <!-- Cerrar Sesión -->
	<ion-list class="seccion2">

		<button ion-item detail-push (click)="logout();">
      <ion-avatar class="icono" item-start>
        <img src="assets/images/iconos/logout.svg">
      </ion-avatar>
      Cerrar sesión
    </button>

	</ion-list>

</ion-content>
