@import "../../assets/mixins";

page-cuenta {
    .bg {
        background: #ECEFF1;
    }
    .toolbar-background {
        background: #ffffff;
        // color: #4BB7D1 !important;
    }

    .seccion {
        // background: #ffffff;
        // border-top: 1px solid #989898;
        // border-bottom: 1px solid #989898;
        margin-top: 15%; 
    }

    .seccion2 {
        margin-top: 10%; 
    }

    .avatar {    
        @include border-radius(50%);
        width: auto;
        height: auto;
        min-width: 50px !important;  
        min-height: 50px !important; 

        img {
            @include border-radius(50%);
            width: 50px;
            height: 50px;
        } 
    }

    .icono {
        min-width: 28px !important;
        min-height: 28px !important;

        img {
            border-radius: 0 !important;
            width: 28px;
            height: 28px;
        }
    }
    
}
