<ion-header>

  <ion-navbar>
    <ion-title>Agregar pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg">
  <ion-list class="seccion">
    <button ion-item detail-push (click)="goToAddTarjetaPage()">
      <ion-icon name="ios-card" item-start></ion-icon>
      Tarjeta de crédito
    </button>
    <button ion-item detail-push (click)="goToPayPalPage()">
      <ion-icon name="cash" item-start></ion-icon>
      PayPal
    </button>
	</ion-list>

  <ion-list class="seccion">
    <button ion-item detail-push (click)="procesarPago()">
      <ion-icon name="ios-card" item-start></ion-icon>
      Procesar pago preautorizado
    </button>
	</ion-list>
</ion-content>
