page-carrito {
    .toolbar-background {
        background: transparent;
        // color: #4BB7D1 !important;
    }

    ion-content {
        &.content {
            div.scroll-content {
                top: 2%;
                height: 98%;
                overflow:hidden;
            }
        }

        &.content-ios {
            background-color: rgba(0, 0, 0, 0.3);

            div.scroll-content {
                background-color: #f8f8f8;
                border-radius: 13px;
                // padding: 16px;
            }
        }

        &.content-md {
            background-color: rgba(0, 0, 0, 0.5);
            
            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
                // padding: 24px;
            }
        }
    }
}
