<ion-header>

  <ion-navbar>
    <!-- <ion-buttons end>
      <button ion-button large (click)="dismiss()">
        <ion-icon name="ios-close"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="margin: 0 auto; text-align: center;">
    <h3>Total: ${{total}}</h3>
  </div>
  <div style="position: absolute; top: -5px; right: 0px;">
    <button ion-button large (click)="dismiss()" clear>
      <ion-icon name="ios-close"></ion-icon>
    </button>
  </div>
  <div>
    <ion-item>
      <ion-label>¿Donde lo llevamos?</ion-label>
      <ion-select [(ngModel)]="direccionActual" interface="popover">
        <ion-option *ngFor="let direccion of direcciones" [value]="direccion">{{direccion.direccion}}</ion-option>
        <ion-option value="0">Agregar nueva dirección</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div style="background-color: #c5c5c5;">
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img style="width: 100px; height: auto;" src="assets/images/100dolar.png">
        </ion-thumbnail>
        <ion-grid>
          <ion-row>
            ${{total}} Efectivo
          </ion-row>
          <ion-row>
            <ion-col col-auto>
              <button ion-button icon-only small (click)="menos()">
                <ion-icon name="ios-remove"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-auto>{{cantidad}}</ion-col>
            <ion-col col-auto>
              <button ion-button icon-only small (click)="mas()">
                <ion-icon name="ios-add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" (click)="vaciar();">Vaciar</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="pedido();">Hacer pedido</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
