page-rating-modal {
    
    .toolbar-background {
        background: #ffffff;

        .ion-icon {
            font-size: 42px;
        }
    }

    .seccion {
        margin-top: 10%; 
    }

    .seccion2 {
        margin-top: 15%; 
    }

    ul {
        padding: 0px;
        
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #FFC107;
        
            ion-icon {
                font-size: 45px;
            }
        }
    }

    ion-icon {
        font-size: 38px; //Preferred size here
    }
}
