<ion-header>

  <ion-navbar>
    <ion-title>Calificar solicitud</ion-title>
    <ion-buttons start>
      <button ion-button large (click)="dismiss()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align: center;">
  
  <section class="seccion">
    <h3>{{ratingValor}}</h3>	
    <div>
      <rating style="margin: 0 auto;" [(ngModel)]="rating" 
        readOnly="{{readOnly}}"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
      </rating>
    </div>
  </section>

  <section class="seccion2">
    <h4>Dejanos tu comentario</h4>	
    <div style="padding-bottom: 10px;">
      
        <ion-textarea [(ngModel)]="comentario" placeholder="Deje su comentario aquí">
        </ion-textarea>
      
    </div>
  </section>

  <ion-footer>
    <div style="padding: 0 20px 15px 20px;">
      <button (click)="calificar()" ion-button color="izzabellClaro" large full>Listo</button>
    </div>
  </ion-footer>
</ion-content>
