//Mixins
@import "../../assets/mixins";

page-nuevo-pago {
  $list-ios-margin-end: "0px";
  .toolbar-background {
    background: #fff;
    border-color: #fff !important;
    color: #4BB7D1 !important;
  }

  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #4BB7D1 !important;
  }

  .toolbar-background-ios {
    background: #fff;
    border-color: #fff !important;
    color: #4BB7D1 !important;
  }
  #fondo_servicio {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .lista_datos {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    .dato {
      display: block;
      width: 100%;
      height: auto;
      margin: 1% 3%;
      padding: 0px;
      p {
        display: block;
        margin: 0px;
        padding: 0px;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        color: #212121;
      }
      .input_dato {
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        border-bottom: 2px solid #4BB7D1;
        input {
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 2% 0%;
          border: 0px;
          font-family: "Titillium Web", sans-serif;
          font-weight: 400;
          font-size: 1em;
          color: #494949;
        }
      }
    }
  }
  .btn_container {
    @include flexbox();
    @include flex-basis(row nowrap);
    margin: 2% 3%;
    button {
      @include flex(1);
      padding: 3% 5%;
      font-family: "Titillium Web", sans-serif;
      font-size: 1.2em;
      color: #fff;
      background: #4BB7D1;
      &.camera {
        max-width: 20%;
        font-weight: 400;
        border: 1px solid #4BB7D1;
        background: #fff;
        color: #4BB7D1;
        font-size: 1.7em;
      }
      &.pagar {
        max-width: 80%;
        font-weight: 700;
        border: 1px solid #4BB7D1;
      }
    }
  }
  .monto {
    display: block;
    width: 100%;
    height: auto;
    margin: 1% 3%;
    padding: 0px;
    p {
      font-family: "Titillium Web", sans-serif;
      font-weight: 400;
      font-size: 1em;
      color: #212121;
    }
    .monto_container {
      display: block;
      margin: 0px auto;
      width: 60%;
      height: auto;
      p {
        display: inline-block;
        vertical-align: middle;
        width: 15%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 2em;
        color: #212121;
      }
      .input_monto {
        display: inline-block;
        vertical-align: middle;
        width: 80%;
        height: auto;
        margin: 0px;
        padding: 0px;
        border-bottom: 2px solid #4BB7D1;
        input {
          display: block;
          width: 100%;
          height: auto;
          margin: 0px;
          padding: 0px;
          border: 0px;
          font-family: "Titillium Web", sans-serif;
          font-weight: 400;
          font-size: 3.2em;
          color: #212121;
          text-align: center;
        }
      }
    }
  }
  .metodo_pago {
    display: block;
    width: 100%;
    height: auto;
    margin: 5% 0%;
    padding: 0px;
    p {
      display: block;
      margin: 0% 3%;
      font-family: "Titillium Web", sans-serif;
      font-weight: 400;
      font-size: 1em;
      color: #212121;
    }
    .item_metodo {
      padding: 0% 3%;
      .label_metodo {
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        font-size: 0.9em;
        color: #212121;
      }
    }
  }
}
