
<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-buttons start>
      <!-- Flecha retroceder -->
      <button ion-button class="back_btn" (click)="closeModal();">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Nuevo Pago</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <!-- Image de Fondo -->
  <img src="{{dirImagen}}" alt="Recibo" id="fondo_servicio" *ngIf="tipo_pago == 'foto'">
  <img src="{{servicio.portada}}" alt="CableOnda" id="fondo_servicio" *ngIf="tipo_pago == 'datos'">

  <!-- Datos Requeridos -->
  <ion-list no-lines no-padding class="lista_datos" *ngIf="tipo_pago == 'datos'">
    <ion-item no-padding class="dato" *ngFor="let dato of servicio.requerido; let i = index;">
      <p>{{dato[2]}}</p>
      <div class="input_dato">
        <input type="{{dato[1]}}" class="input_dato" placeholder="{{dato[3]}}" [(ngModel)]="dato[4]">
      </div>
    </ion-item>
  </ion-list>

  <!-- Monto -->
  <div class="monto">
    <p>Monto a pagar</p>
    <div class="monto_container">
      <p>$</p>
      <div class="input_monto">
        <input type="number" placeholder="0.00" [(ngModel)]="monto">
      </div>
    </div>
  </div>

  <!-- Metodo de Pago -->
  <div class="metodo_pago">
    <p>Seleccione método de pago</p>
    <ion-list>
      <ion-item class="item_metodo">
        <ion-label class="label_metodo">Método de pago</ion-label>
        <ion-select [(ngModel)]="metodo_pago" submitText="Seleccionar" cancelText="Cancelar">
          <ion-option *ngFor="let metodo of metodos_pagos" value="{{metodo.id}}">{{metodo.tipo}} ...{{metodo.ultimos}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div class="btn_container">
    <button class="camera" (click)="pagoFoto();"><ion-icon name="camera"></ion-icon></button>
    <button class="pagar" (click)="nuevoPago();">PAGAR</button>
  </div>

</ion-content>
